.card {
  margin-bottom: $global-margin;
  background-color: $white;
}

.card__body {
  padding: 1em;
}

.card--shadowed {
  box-shadow: 0 5px 20px rgba(#000, 0.08);

  .card__body {
    padding: 2em;
  }
}
