.c-header {
  background-color: $white;
  border-bottom: 1px solid $silver-dark;
  .icon-back {
    width: 16px;
    height: 16px;
    fill: #c2c7d7;
    margin-right: 9px;
  }
}

.c-header__element {
  margin: rem-calc(12);
  display: inline-block;
}

.c-header__menu {
  > li > a {
    font-weight: 600;
    font-size: 14px;

    margin-right: 1rem;
    margin-left: 1rem;

    padding-bottom: 0.4rem;
    border-bottom: 3px solid transparent;
  }

  > .active > a {
    background-color: transparent;
    color: $primary;
    border-bottom-color: currentColor;
  }
}

.c-header__wrapper {
  background: #e1e8ee;
  .c-input-group {
    margin-bottom: 10px;
  }
}

.c-section--light__head {
  font-weight: 500;
}

header {
  nav {
    a {
      color: #68768c;
      font-size: 14px;
      font-weight: 500;
      display: block;
      margin-left: 30px;
    }
  }
}

.logo {
  width: 124px;
  min-height: 73px;
}
.canvas .screen__row {
  .add-new {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: #42d79e;
    display: inline-block;
    position: relative;
    span {
      display: block;
      text-indent: 101%;
      overflow: hidden;
    }
    &::before,
    &::after {
      position: absolute;
      top: 13px;
      left: 50%;
      content: "";
      display: block;
      width: 10px;
      height: 2px;
      background: #fff;
      margin-left: -5px;
    }
    &::after {
      top: 9px;
      margin-left: -1px;
      width: 2px;
      height: 10px;
    }
  }
  nav {
    a {
      font-size: 16px;
      font-weight: 400;
      color: #7f8fa4;
      margin: 0;
      display: inline-block;
      position: relative;
      &.active {
        &::before {
          content: "";
          height: 3px;
          position: absolute;
          left: 0;
          bottom: -14px;
          right: 0;
          background: #1f8ceb;
        }
      }
      & + a {
        margin-left: 30px;
      }
    }
  }
}
