.c-input-group {
  position: relative;
}

.c-input-group__field {
  border-radius: $button-radius;
  height: 3.5rem;
  padding-left: $global-margin * 2;
}

.c-input-group__button {
  position: absolute;
  top: 6px;
  right: 6px;
}

.c-input-group--small {
  .c-input-group__field {
    height: 2.9rem;
    padding-left: $global-margin;
    background-color: #45474d;
    color: #8a8b8e;
    border-color: currentColor;
  }

  .c-input-group__button {
    background-color: #6aaab4;
    padding: 9px 7px;
    top: 5px;
    right: 5px;

    &:hover,
    &:focus {
      background-color: #6aaab4;
    }
  }
}
