$_dom-above-rest-height: 106px;

.screen {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.screen__row {
  flex: 0 0 auto;

  &.-rest {
    flex: 1 1 0px;
    max-height: calc(100% - #{$_dom-above-rest-height});
  }

  > .row {
    height: 100%;
  }
}
