.screen {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.screen__row {
  flex: 0 0 auto;

  &.-rest {
    flex: 1 1 0px;
    overflow: hidden;
  }

  > .row {
    height: 100%;
  }
}
