.c-seperator {
  margin-top: $global-margin * 1.5;
  margin-bottom: $global-margin * 1.5;
  height: 1px;
  line-height: 1px;
  background-color: $silver2;
}

.c-seperator__text {
  padding-left: $global-padding;
  padding-right: $global-padding;
  background-color: $white;
}
