//.settings {
//  box-sizing: border-box;
//}
.settings .screen__title {
  font-weight: 500;
  font-size: 24px;
  font-family: $font-family-sans;
  color: #3a405b;
  margin: 0;
}

.settings .page-head {
  background: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
}

.settings .screen__row--rest {
  background: transparent;
}

.settings .menu.vertical {
  width: 100%;
  background: #fff;
  color: #b9bed1;
  font-size: 14px;
  > li {
    padding: 20px;
    &.active, &:hover, &:active {
      background-color: #f7f8fb;
    }
  }
  > li, > li.active {
    > a, a:hover, a:active {
      background: transparent;
      color: inherit;
    }
  }
  .icon {
    margin-right: 15px;
    font-size: 20px;
  }
}

.settings__partial {
  font-size: 16px;
  .profile-settings {
    padding: 40px 15px;
  }
  .button.success {
    border-radius: 40px;
  }
  form, .profile-settings, .integrations-settings {
    background: #fff;
  }
}


.profile-settings {
  .avatar-card, .form-control {
    border-radius: 5px;
  }
  .avatar-card {
    margin-bottom: 50px;
  }
  label + .form-control {
    margin-top: 10px;
  }
  .button.success {
    margin-top: 40px;
  }
}


.team-members-settings, .notifications-settings {
  legend {
    color: #a1a6bb;
  }
  form {
    padding: 30px 20px;
  }
}

.team-members-settings .invite-form {
  padding-bottom: 50px;
  border-bottom: 1px solid #f0f2f7;
  .form-group {
    font-size: 14px;
  }
  .form-control {
    float: left;
  }
  .form-control + .form-control {
    margin-left: 15px;
  }
  .form-group {
    margin: 30px 0 25px;
    .column {
      padding-left: 0;
    }
  }
  .add-member {
    color: #42d79e;
  }
  .add-member:hover {
    text-decoration: underline;
  }
  .icon {
    margin-right: 10px;
    position: relative;
    top: -1px;
  }
  .button.success {
    margin-top: 25px;
  }
}

.team-member {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  &__img-wrapper {
    border: 1px solid #f0f2f7;
    // TEST
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: green;
    img {
      vertical-align: top;
    }
  }
  &__identity {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    flex-grow: 0;
  }
  &__name {
    margin-left: 10px;
  }
  &__email {
    flex-grow: 1;
    padding: 0 15px;
    text-align: center;
  }
  &__actions {
    flex-grow: 0;
    flex-basis: 20%;
    display: flex;

  }
  &__role {
    margin-left: auto;
    margin-right: 17px;
    display: flex;
    align-items: center;
    line-height: 40px;
    border: 1px solid #f0f2f7;
    border-radius: 25px;
    padding: 0 25px 0 8px;
    .icon {
      margin-right: 15px;
      font-size:22px;
      color: #4fd696;
    }
  }
  &__delete {
    font-size: 16px;
  }
}



.integrations-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #e4e7ef;
  border-right: 1px solid #e4e7ef;
  img {
    margin: 0;
    width: auto;
  }
  .integration-service {
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    border-bottom: 1px solid #e4e7ef;
    border-left: 1px solid #e4e7ef;
    &--disabled .integration-service__logo {
      opacity: 0.25;
    }
    &__switch {
      margin: 0;
    }
  }
}

.notifications-settings {
  color: #3a405b;
  font-size: 14px;
  form {
    padding: 30px 30px 40px;
  }
  legend {
    font-size: 16px;
  }
  .summary-preference {
    input, label {
      margin: 0;
    }
    input[type="radio"] + label {
      margin-left: 10px;
    }
    label + input[type="radio"] {
      margin-left: 35px;
    }
    .form-group {
      border-radius: 3px;
      border: 1px solid #f0f2f7;
      padding: 25px;
    }
    legend {
      margin-bottom: 25px;
    }
  }
  .email-preferences {
    margin-top: 55px;
    legend {
      margin-bottom: 35px;
    }

  }
}
