$_gap: 0;
$_dom-head-height: 43px;

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;

  border-right: 1px solid $silver-dark;

  &.-closed {
    position: absolute;
    width: 45px;
    z-index: 10;

    .sidebar__head {
      height: 47px;
    }
  }

  &.-closed-right {
    right: -13.1%;
  }
}

.sidebar__fixed-container {
  position: relative;
}

.sidebar__head {
  flex: 0 0 auto;
  color: $grey-dark;
  background-color: $silver;
  position: relative;
}

.sidebar__menu {
  > li > a {
    font-size: rem-calc(24);

    border: solid $silver-dark;
    border-width: 0 1px;
    border-bottom: 1px solid $silver-dark;
    padding-left: 0;
    padding-right: 0;

    i {
      margin: auto;
    }
  }

  > li:last-child > a {
    border-left-width: 0;
  }

  > .active > a {
    background-color: $white;
    color: $primary;
    border-bottom-color: $white;
  }
}

.sidebar__menu--left {
  padding-right: 45px;
}

.sidebar__menu--right {
  padding-left: 45px;
}

.sidebar__menu--items-2 {
  > li {
    width: 50%;
  }
}

.sidebar__menu--items-4 {
  > li {
    width: 25%;
  }
}

.sidebar__body {
  flex: 1 1 0;
  max-height: calc(100% - #{$_dom-head-height});
  background-color: $white;
}

.sidebar__title {
  font-size: rem-calc(16);
  margin-bottom: 0;
  color: inherit;
  text-align: center;
  line-height: 3rem;
  height: 47px;
}

.sidebar__collapse-button {
  position: absolute;
  top: $_gap;
  width: 45px;
  height: 100%;

  &.-left {
    right: $_gap;
  }

  &.-right {
    left: $_gap;
    direction: rtl;
  }
}

.sidebar__collapse-menu {
  font-size: rem-calc(24);
}

.sidebar__collapse-arrow {
  font-size: rem-calc(8);
  display: inline-block;

  .sidebar__collapse-button.-right & {
    transform: rotate(180deg);
  }
}

// .canvas {
//
// }

.canvas--padded-left {
  padding-left: 45px !important;
}

.canvas--padded-right {
  padding-right: 45px !important;
}
