.tooltip {
  white-space: nowrap;
  border-radius: 5px;
  font-size: 14px;
  line-height: 2.3;
  max-width: none !important;
  padding: 5px 10px;
  font-weight: 300;
  &::before {
    border-width: 0.5rem;
  }
}
ul.sidebar__menu.sidebar__menu--left.sidebar__menu--items-2.menu .tooltip {
  top: 50px !important;
}
ul.page-head__menu.menu.align-center .tooltip {
  top: 98px !important;
}
ul.sidebar__menu.sidebar__menu--right.sidebar__menu--items-4.menu .tooltip {
  top: 49px !important;
}
