.c-section {
  background-color: $white;
}

.c-section__wrapper {
  background-color: $white;
}

.c-section--head {
  background-color: transparent;
}

.c-section--head__img {
  margin-bottom: -205px;
}

.c-section--head__tail {
  padding-top: 205px;
  background-color: $white;
}

.c-section--dark {
  background-color: #40364d;
  color: $white;
}

.c-section--light {
  background-color: #6aaab4;
  color: $white;
}

.c-section--light__head {
  color: $white;
}
