
<div class="integrations-settings partial__content">
  <div class="integration-service integration-service--disabled">
    <div class="integration-service__logo"><img src="images/slack-logo.svg"/><span class="integration-service__soon">(Coming soon)</span></div>
    <div class="integration-service__switch switch">
      <input class="switch-input" id="switch-1" type="checkbox" disabled="disabled"/>
      <label class="switch-paddle" for="switch-1"><span class="switch-active" aria-hidden="true"><i class="icon ion-checkmark-round"></i></span></label>
    </div>
  </div>
  <div class="integration-service integration-service--disabled">
    <div class="integration-service__logo"><img src="images/dropbox-logo.svg"/><span class="integration-service__soon">(Coming soon)</span></div>
    <div class="integration-service__switch switch">
      <input class="switch-input" id="switch-2" type="checkbox" disabled="disabled"/>
      <label class="switch-paddle" for="switch-2"><span class="switch-active" aria-hidden="true"><i class="icon ion-checkmark-round"></i></span></label>
    </div>
  </div>
  <div class="integration-service integration-service--disabled">
    <div class="integration-service__logo"><img src="images/trello-logo.svg"/><span class="integration-service__soon">(Coming soon)</span></div>
    <div class="integration-service__switch switch">
      <input class="switch-input" id="switch-3" type="checkbox" disabled="disabled"/>
      <label class="switch-paddle" for="switch-3"><span class="switch-active" aria-hidden="true"><i class="icon ion-checkmark-round"></i></span></label>
    </div>
  </div>
  <div class="integration-service integration-service--disabled">
    <div class="integration-service__logo"><img src="images/asana-logo.svg"/><span class="integration-service__soon">(Coming soon)</span></div>
    <div class="integration-service__switch switch">
      <input class="switch-input" id="switch-4" type="checkbox" disabled="disabled"/>
      <label class="switch-paddle" for="switch-4"><span class="switch-active" aria-hidden="true"><i class="icon ion-checkmark-round"></i></span></label>
    </div>
  </div>
</div>
