
<div class="team-members-settings partial__content">
  <form class="invite-form" ng-submit="inviteMembers()">
    <fieldset ng-disabled="settingsVM.loading">
      <legend>Invite Team Members</legend>
      <div class="form-group row" ng-repeat="member in members">
        <div class="column large-3">
          <input class="form-control" id="email" type="email" placeholder="Enter Email Address" ng-model="member.email" required />
        </div>
        <div class="column large-3">
          <input class="form-control" id="first_name" type="text" placeholder="First Name" ng-model="member.firstname" required />
        </div>
        <div class="column large-3">
          <input class="form-control" id="last_name" type="text" placeholder="Last Name" ng-model="member.lastname" required />
        </div>
        <div class="column large-3 head-filters">
          <div class="select-wrapper">
            <select required ng-model="member.role">
              <option value="">Role</option>
              <option value="0">User</option>
              <option value="1">Admin</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="column large-4"><a class="add-member" ng-click="addNewMember()"><i class="icon ion-plus"></i>Add Another Team Member</a></div>
        <div class="column large-4 head-filters">
          <div class="select-wrapper">
            <select id="project">
              <option value="">Select Project</option>
              <option ng-repeat="project in projects" value="{{project.slug}}" data-id="{{project.id}}">{{project.name}}</option>
            </select>
          </div>
        </div>
        <div class="column large-4">
          <button class="button expanded success" type="submit" ng-disabled="settingsVM.loading">Invite Team Members</button>
        </div>
      </div>
    </fieldset>
  </form>
  <form class="management-form">
    <div class="pull-right">
      <div class="select-wrapper">
        <select id="project-management" ng-change="setSelectedProject()" ng-model="projectToManage">
          <option value="">Select Project</option>
          <option ng-repeat="project in projectsAdmin" value="{{project.slug}}" data-id="{{project.id}}">{{project.name}}</option>
        </select>
      </div>
    </div>
    <fieldset>
      <legend>Manage Team Members</legend>
      <div class="form-group team-member" ng-repeat="member in selectedProject.team.users">
        <div class="team-member__identity">
          <div class="team-member__img-wrapper">
            <img class="avatar" ng-if="member.image!==null" alt="{{member.name}}" ng-src="{{::(member.image)}}" />
            <img class="avatar" ng-if="member.image===null" alt="{{member.name}}" gravatar-src="member.email" ng-fallback="images/user-avatar.png" />
          </div><span class="team-member__name">{{member.name}}</span>
        </div><span class="team-member__email">{{member.email}}</span>
        <div ng-if="member.role === 1" class="team-member__actions"><span class="team-member__role team-member__role--admin">
          <div class="icon ion-checkmark-circled"></div>Admin</span>
          <button class="team-member__delete">
            <div class="icon ion-close-circled"></div>
          </button>
        </div>
        <div ng-if="member.role === 0" class="team-member__actions"><span class="team-member__role">
          Member</span>
          <button class="team-member__delete" ng-click="openModal('app/partials/remove-member.html', {email: member.email, name: member.name})">
            <div class="icon ion-close-circled"></div>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
