<header class="c-header">
  <div class="row expanded align-middle">
    <div class="column large-2">
      <nav ng-show="menu === 'projects-activities'">
        <a href="projects" ng-class="page == 'projects' ? 'active u-text-small' : 'u-text-small'">Projects</a>
        <a href="activity" ng-class="page == 'activity' ? 'active u-text-small' : 'u-text-small'">Activity</a>
      </nav>
      <button ui-sref="projects" ng-show="menu !== 'projects-activities'" class="u-text-small u-items-middle"><svg class="icon-back"><use xlink:href="#shape-arrow" /></svg> Back</button>
    </div>
    <div class="column large-8">
      <div class="row align-center">
        <a ui-sref="dashboard">
          <img class="c-header__element" src="images/logo2.png">
        </a>
      </div>
    </div>
    <div class="columns large-2 text-right">
      <a ng-click="openModal('app/partials/new-project.html')" class="add-new"><span>Add</span></a>
      <dropdown-toggle class="c-header__element" pane-align="right" close-on-click="true">
        <toggle>
          <button class="notifier">
            <span class="notifier__detect"></span>
            <i class="ion-android-notifications u-icon-24"></i>
          </button>
        </toggle>
        <pane>
          <ul class="menu vertical">
            <li><a ui-sref="logout"><i class="ion-android-exit"></i> Logout</a></li>
          </ul>
        </pane>
      </dropdown-toggle>
      <dropdown-toggle class="c-header__element u-space-h-undo" pane-align="right" close-on-click="true">
        <toggle>
          <img class="avatar" ng-src="{{::($parent.user.image || 'images/user-avatar.png')}}" width="32">
        </toggle>
        <pane>
          <ul class="menu vertical">
            <li><a href="#"><i class="ion-person"></i> Profile</a></li>
            <li><a href="#"><i class="ion-person-add"></i> Team Members</a></li>
            <li><a href="#"><i class="ion-android-share-alt"></i> Integrations</a></li>
            <li><a href="#"><i class="ion-android-notifications"></i> Notifications</a></li>
            <li><a href="#"><i class="ion-card"></i> Billing</a></li>
            <li><a ui-sref="logout"><i class="ion-android-exit"></i> Logout</a></li>
          </ul>
        </pane>
      </dropdown-toggle>
    </div>
  </div>
</header>
