<div class="overlay-notification overlay-notification--red">
  <p>Alpha / Beta Testing Disclaimer <a class="button button--outline" href="#">Read More</a></p>
</div>
<header class="c-header" ng-controller="CanvasHeaderCtrl">
  <div class="row expanded align-middle">
    <div class="column large-3">
      <nav ng-show="menu === 'projects-activities' || menu === 'settings'">
        <a href="/projects" ng-class="page == 'projects' ? 'active u-text-small' : 'u-text-small'">Projects</a>
        <a href="/projects?archive" ng-class="page == 'archive' ? 'active u-text-small' : 'u-text-small'">Archive</a>
        <a href="/projects/{{project.id}}/activities" ng-show="page !== 'projects' && page !== 'archive' && menu !== 'settings'" ng-class="page == 'activity' ? 'active u-text-small' : 'u-text-small'">Activity</a>
      </nav>
      <a href="/projects/{{project.id}}/{{project.slug}}" ng-show="menu !== 'projects-activities' && menu !== 'settings'" class="u-text-small u-items-middle"><svg class="icon-back"><use xlink:href="#shape-arrow" /></svg> Back</a>
    </div>
    <div class="column large-6">
      <div class="row align-center">
        <a ui-sref="projects">
          <img class="c-header__element" src="images/mini-logo.svg">
        </a>
      </div>
    </div>
    <div class="columns large-3 text-right">
      <a ng-show="page !== 'projects'" ng-click="openModal('app/partials/new-project.html')" class="add-new"><span>Add</span></a>
      <dropdown-toggle class="c-header__element notifications-dropdown-list" pane-align="right" close-on-click="true">
        <toggle>
          <button class="notifier">
            <span class="notifier__detect"></span>
            <i class="ion-android-notifications u-icon-24"></i>
          </button>
        </toggle>
        <pane>
          <ul class="menu vertical activities-list">
            <li ng-repeat="activity in notifications">
              <div class="activity new-activity" ng-if="activity.type === 0">
                <p><svg class="icon"><use xlink:href="#shape-new" /></use><span>{{activity.user}}</span> created new project <span>{{activity.what}}</span></p>
              </div>
              <div class="activity add-activity" ng-if="activity.type === 1">
                <p><svg class="icon"><use xlink:href="#shape-comment" /></use><span>{{activity.user}}</span> added <span>{{activity.what}}</span> to screen {{activity.where}}</p>
                <blockquote>
                  <p>{{activity.message}}</p>
                </blockquote>
              </div>
              <div class="activity forward-activity" ng-if="activity.type === 2">
                <p><svg class="icon"><use xlink:href="#shape-forward" /></use><span>{{activity.user}}</span> forwarded {{activity.what}} to <span>{{activity.where}}</span></p>
              </div>
              <div class="activity delete-activity" ng-if="activity.type === 3">
                <p><svg class="icon"><use xlink:href="#shape-delete" /></use><span>{{activity.user}}</span> deleted {{activity.what}}</p>
              </div>
              <div class="activity resolve-activity" ng-if="activity.type === 4">
                <p><svg class="icon"><use xlink:href="#shape-resolve" /></use><span>{{activity.user}}</span> resolved note <span>{{activity.what}}</span></p>
              </div>
            </li>
          </ul>
        </pane>
      </dropdown-toggle>
      <dropdown-toggle class="c-header__element u-space-h-undo" pane-align="right" close-on-click="true">
        <toggle>
          <div ng-controller="UserInfoCtrl">
            <img class="avatar" ng-if="user.image!==null" alt="{{user.name}}" ng-src="{{::(user.image)}}" />
            <img class="avatar" ng-if="user.image===null" alt="{{user.name}}" gravatar-src="user.email" ng-fallback="/images/original/missing.png" />
          </div>
        </toggle>
        <pane>
          <ul class="menu vertical">
            <li><a href="/settings/profile"><i class="ion-person"></i> Profile</a></li>
            <li><a href="/settings/team"><i class="ion-person-add"></i> Team Members</a></li>
            <li><a href="/settings/integrations"><i class="ion-android-share-alt"></i> Integrations</a></li>
            <li><a href="/settings/notifications"><i class="ion-android-notifications"></i> Notifications</a></li>
            <li><a ui-sref="logout"><i class="ion-android-exit"></i> Logout</a></li>
          </ul>
        </pane>
      </dropdown-toggle>
    </div>
  </div>
</header>
