<div class="page-head" ng-controller="CanvasHeaderCtrl">
  <div class="row expanded align-middle">
    <div class="columns large-4"></div>
    <div class="columns large-4">
      <ul class="page-head__menu menu align-center">
        <li ng-class="page === 'dashboard' ? 'active' : ''"><a href="/projects/{{project.id}}/{{project.slug}}/{{project.artboardId}}/inspect"><svg tooltip-placement="bottom" tooltip="Inspect"><use xlink:href="#shape-dashboard" /></svg></a></li>
        <li ng-class="page === 'notes' ? 'active' : ''"><a href="/projects/{{project.id}}/{{project.slug}}/{{project.artboardId}}/notes"><svg tooltip-placement="bottom" tooltip="Notes"><use xlink:href="#shape-notes" /></svg></a></li>
        <li ng-class="page === 'styleguide' ? 'active style-guide-link' : ' style-guide-link'"><a href="/projects/{{project.id}}/{{project.slug}}/{{project.artboardId}}/styleguide"><svg tooltip-placement="bottom" tooltip="Style Guide"><use xlink:href="#shape-styleguide" /></svg></a></li>
        <li ng-class="page === 'flow' ? 'active' : ''"><a><svg tooltip-placement="bottom" tooltip="Map"><use xlink:href="#shape-flow" /></svg></a></li>
        <li ng-class="page === 'versions' ? 'active' : ''"><a href="/projects/{{project.id}}/{{project.slug}}/{{project.artboardId}}/versions"><svg tooltip-placement="bottom" tooltip="Version Control"><use xlink:href="#shape-versions" /></a></li>
        <li ng-class="page === 'comparison' ? 'active' : ''"><a href="/projects/{{project.id}}/{{project.slug}}/{{project.artboardId}}/comparison"><svg tooltip-placement="bottom" tooltip="Comparison Mode"><use xlink:href="#shape-comparison" /></svg></a></li>
      </ul>
    </div>
    <div class="columns large-4 text-right">
      <ul class="actions menu align-right">
        <li>
          <dropdown-toggle pane-align="center" close-on-click="true">
            <toggle>
              <button class="actions__button" tooltip-placement="bottom" tooltip="Set status"><span class="actions__status actions__status--{{artboardStatusesClasses[currentArtboard.status]}}"></span></button>
            </toggle>
            <pane>
              <ul class="dd-menu">
                <li class="title">Status</span></li>
                <li><a href="#" ng-click="setArtBoardStatus(0, $event)" class="status-danger">New</a></li>
                <li><a href="#" ng-click="setArtBoardStatus(1, $event)" class="status-warning">In Progress</a></li>
                <li><a href="#" ng-click="setArtBoardStatus(2, $event)" class="status-success">Approved</a></li>
              </ul>
            </pane>
          </dropdown-toggle>
        </li>
        <li>
          <dropdown-toggle pane-align="center" close-on-click="true" class="calendar-menu">
            <toggle>
              <button class="actions__button" tooltip-placement="bottom" tooltip="Set due date"><svg><use href="#shape-calendar" /></svg></button>
            </toggle>
            <pane>
              <ul class="dd-menu">
                <li><div pickadate ng-model="currentArtboard.dueDate" format="yyyy-MM-dd'T'HH:mm:ss.sss'Z'" ng-click="setArtBoardDueDate(currentArtboard.dueDate)"></div></li>
              </ul>
            </pane>
          </dropdown-toggle>
        </li>
        <li>
          <dropdown-toggle pane-align="center" close-on-click="true" class="assign-menu">
            <toggle>
            <button class="actions__button" tooltip-placement="bottom" tooltip="Add assignee"><i class="ion-person"></i></button>
            </toggle>
            <pane>
              <ul class="dd-menu assign-dd">
                <li class="title">Assign to</span></li>
                <li ng-repeat="member in team">
                  <a href="#"><img class="avatar" ng-if="member.image!==null" alt="{{member.name}}" ng-src="{{::(member.image)}}" width="32" /><img class="avatar" ng-if="member.image===null" alt="{{member.name}}" gravatar-src="member.email" ng-fallback="images/user-avatar.png" width="32" />{{member.name || 'Unnamed member'}}</a>
              </ul>
            </pane>
          </dropdown-toggle>
        </li>
        <li>
          <dropdown-toggle pane-align="center" close-on-click="true" class="tags-dropdown">
            <toggle>
              <button class="actions__button" tooltip-placement="bottom" tooltip="Add tag"><svg><use href="#shape-tag" /></svg></button>
            </toggle>
            <pane>
              <ul class="dd-menu">
                <li><span class="title">Tags</span></li>
                <li>
                  <div class="tags">
                    <a ng-repeat="tag in currentArtboard.tags" style="background: {{tag.color}}">{{tag.name}} <span ng-click="deleteTag(tag.id, $event)">&times;</span></a>
                  </div>
                  <div class="input-wrapper">
                    <div class="selected-color" style="background: {{tagColor}}"></div>
                    <input type="text" ng-model="newTag" placeholder="# Add Tag">
                    <input type="color" ng-model="tagColor">
                  </div>
                  <a ng-click="addTag(newTag, tagColor)" class="action-button">Add Tag</a>
                </li>
              </ul>
            </pane>
          </dropdown-toggle>
        </li>
        <li>
          <dropdown-toggle pane-align="center" close-on-click="true">
            <toggle>
              <button class="actions__button" tooltip-placement="bottom" tooltip="Forward"><svg><use xlink:href="#shape-forward" /></svg></button>
            </toggle>
            <pane>
              <ul class="dd-menu forward-dd">
                <li class="title">Forward to</span></li>
                <li><a href="#"><img src="images/slack.svg" class="forward-to" alt="Trello">Slack</a></li>
                <li><a href="#"><img src="images/trello.svg" class="forward-to" alt="Trello"> Trello</a></li>
              </ul>
            </pane>
          </dropdown-toggle>
        </li>
        <li>
          <dropdown-toggle pane-align="right" close-on-click="true" class="share-dropdown">
            <toggle>
              <button class="actions__button" tooltip-placement="bottom" tooltip="Share"><svg><use xlink:href="#shape-attachment" /></svg></button>
            </toggle>
            <pane>
              <ul class="dd-menu">
                <li class="title">Share</span></li>
                <li>
                  <div class="link-wrapper">
                    <input type="text" value="http://draftapp.io/i8rm3c" disabled>
                    <button>Copy</button>
                  </div>
                  <input type="email" placeholder="Enter Email Address">
                  <a href="#" class="action-button">Send</a>
                </li>
              </ul>
            </pane>
          </dropdown-toggle>
        </li>
        <li>
          <dropdown-toggle pane-align="right" close-on-click="true">
            <toggle>
              <button class="actions__button u-space-h-undo" tooltip-placement="bottom" tooltip="More"><i class="ion-more"></i></button>
            </toggle>
            <pane>
              <ul class="dd-menu">
                <li><a href="#"><svg><use xlink:href="#shape-duplicate" /></svg> Duplicate</a></li>
                <li><a href="#"><svg><use xlink:href="#shape-trash" /></svg> Delete</a></li>
              </ul>
            </pane>
          </dropdown-toggle>
        </li>
      </ul>
    </div>
  </div>
</div>
