<section class="modal">
  <div class="modal-header">
    <h1>Delete Note</h1>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this note?</p>
    <div class="text-right modal-cta"><a ng-click="notesVm.selectedArtBoard.deleteNote(projectData.id, projectData.projectId, projectData.artboardId)" class="button button--danger">Yes, delete</a></div>
  </div>
</section>
