<header class="u-padding">
  <div class="row align-middle">
    <div class="column large-4">
      <a href="index.html">
        <img class="logo" src="images/logo.svg" alt="" />
      </a>
    </div>

    <div class="column large-8">
      <nav class="text-right">
        <a href="#" class="menu-trigger">
          <img src="images/menu.svg" alt="">
        </a>
        <ul class="o-list--unstyled o-list--inline">
          <li class="u-space-h">
            <a ui-sref="front">Home</a>
          </li>
          <li class="u-space-h">
            <a ui-sref="features">Features</a>
          </li>
          <li class="u-space-h">
            <a ui-sref="contact">Contact</a>
          </li>
          <li class="u-space-h">
            <a ui-sref="login">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
