// Dashboard
.search {
  position: relative;

  .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 6px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    color: #ffffff;
    border: none;
    background-color: #6600e8;
  }
}

.search-box {
  border-radius: 50px;
  width: 300px;
  height: 40px;
  // margin-top: 2px;

  &:focus  {
    transition: width .5s;
    width: 400px;
  }
}

.dropdown {
  margin-top: 7px;
}

.dropdown-menu {
  border: none;
}

// Panel

.panel-default {
  color: #A4A1BC;
  font-size: 1.3em;
  border-bottom: thin solid #dddddd;;

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    color: #A4A1BC;
  }

  a:hover {
    color: #6C64F9;
    border-bottom: medium solid #6C64F9;
    padding-bottom: 1.4em;
  }
}

.action-links {
  display: inline-block;
  list-style: none;
  li:not(:last-child) {
    border-right: #F1F1F7;
    border-right-width: thin;
    border-right-style: solid;
  }

  li {
    display: inline-block;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

.action-buttons {
  display: inline-block;
  list-style: none;

  li {
    display: inline-block;
  }
}

.action-button {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  background-color: white;
  border-color: #BBB9D2;
  padding: 0;

  &:hover {
    color: rgba(164, 161, 188, 0.45);
  }
}

// Sidebar
@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:4px;
}

#sidebar {
  background-color: white;
  position: absolute;
  left: 0;
  top: 133px;
  bottom: 0;
  width: 112px;
  display: inline-block;
  list-style: none;
  font-size: 1.4em;

  li:not(:last-child) {
    a {
      border-bottom: #F1F1F7;
      border-bottom-width: thin;
      border-bottom-style: solid;
    }
  }

  li {
    display: inline-block;
    padding-right: 1.5em;
    padding-left: 1.5em;

    a {
      color: #bfbece;
    }
  }
}
// End of Sidebar

.nav-stacked {
  background-color: white;

  & > li > a {
    padding: 1em;
  }
}

.list-group {
  font-size: 1.2em;
  border: #E5E5EF;
  border-width: 1px;
  border-style: solid;
}

.list-group-item {
  color: #A4A1BC !important;
  border: none;
  padding: 1.2em 1.2em;
}

.list-group-item.active {
  color: #A4A1BC !important;
  background-color: #F7F7FB;
  border-color: #F7F7FB;
}

.settings-box {
  background-color: white;
  padding: 2em;
  border: #E5E5EF;
  border-width: 1px;
  border-style: solid;
  color: #A4A1BC;
  font-size: 1.1em;
}

.text-normal {
  font-weight: 500;
}

// CENTER BOX (for sign up and sign in pages)
.avatar-box {
  position: relative;
  width: 240px;
  height: 190px;
  border: thin solid #F4F5F9;

  img {
    margin: 6% auto;
  }

  .avatar-button {
    position: absolute;
    background-color: white;
    border-color: #F4F5F9;
    border-width: thin;
    border-style: solid;
    width: 50%;
    height: 42px;
  }

  .avatar-button-left {
    bottom: 0;
    left: 0;
  }

  .avatar-button-right {
    right: 0;
    bottom: 0;
    color: red;
  }
}

.subtitle {
  font-size: 16px;
  color: #AFACC3;
  font-weight: 100;

  &.smaller {
    font-size: 12px;

    &:hover {
      color: #a3a1b5;
      text-decoration: none;
    }

    &:focus {
      color: #a3a1b5;
      text-decoration: none;
    }
  }
}
