.button {
  font-weight: 600;


  &.primary {
    &,
    &:hover,
    &:focus {
      color: $white;
    }
  }
  &--success {
    background: #4fd696;
    color: #fff;
    &:hover,
    &:focus {
      background: #37ac74;
    }
  }
  &--danger {
    background: #fe5339;
    color: #fff;
    &:hover,
    &:focus {
      background: #fe5339;
    }
  }
  &--block {
    width: 100%;
  }
}
