.button {
  font-weight: 600;


  &.primary {
    &,
    &:hover,
    &:focus {
      color: $white;
    }
  }
  &--success {
    background: #4be1ab;
    color: #fff;
    &:hover,
    &:focus {
      background: #3cca94;
    }
  }
  &--danger {
    background: #fe5339;
    color: #fff;
    &:hover,
    &:focus {
      background: #fe5339;
    }
  }
  &--block {
    width: 100%;
  }
  &--grey {
    background: #444444;
    &:hover {
      background: #000;
    }
  }
  &--yellow {
    background: #ffda44;
    &:hover {
      background: #f0ca30;
    }
  }
  &--light {
    background: #e4e7ef;
    color: rgb(58, 64, 91);
    &:hover {
      background: #e4e7ef;
      color: rgb(58, 64, 91);
    }
  }
}
