.link {
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

.link--underline,
.link--underline-hover:hover {
  text-decoration: underline;
}

.link--green,
.link--green:hover {
  color: #42d79e;
}
