// /* ul, ol */ .list {}
li {
  .o-list--inline > & {
    @include display-inline();
  }
}

// #LIST--UNSTYLED
.o-list--unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

// #LIST--STYLE-NONE
.o-list--style-none {
  list-style: none;
}

.o-list--stripped {
  cursor: pointer;
  background-color: $white;

  &:nth-child(even) {
    background-color: $silver;
  }

  &.selected {
    border-width: 0;
    background-color: darken($silver, 5);
    color: $black;
  }
}
