.switch {
  margin: 0;
  .switch-paddle:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 8px;
  }
  input:checked ~ .switch-paddle::after {
    left: 40px;
  }
  .switch-paddle {
    border-radius: 25px;
    width: 68px;
    height: 36px;
    background-color: #e4e7ef;
  }
  input:checked ~ .switch-paddle {
    background-color: #42d79e;
  }
  .switch-active {
    margin-left: 5px;
    color: #35ac7e;
  }
  .switch-inactive {
    margin-left: 5px;
    color: #b9bed1;
  }
}
