.svg-icons
  ng-include(src="'images/svg-defs.svg'")
.screen.canvas.comparison
  .screen__row
    ng-include(src="'app/partials/app-header.html'")
  .screen__row
    ng-include(src="'app/partials/canvas-header.html'")
  .screen__row.-rest
    .row.expanded.collapse
      .columns.large-2.left-sidebar(ng-hide='leftSideBarIsHidden')
        aside.sidebar
          .sidebar__head
            .sidebar__title Original Screens
            button.sidebar__collapse-button.-left(ng-click='leftSideBarIsHidden = !leftSideBarIsHidden')
              i.sidebar__collapse-arrow.ion-arrow-left-b
              i.sidebar__collapse-menu.ion-android-menu
          .sidebar__body
            .scroller
              ul.items-spaced
                li(ng-repeat='page in comparisonVm.comparisonData.pages')
                  a(ng-click='comparisonVm.comparisonData.selectPage($index)')
                    img.thumbnail(ng-class="{'is-active': page.objectID === comparisonVm.selectedPage.obj.objectID}", ng-src='{{::(page.imageBase64 || page.originalImagePath)}}')
                    span.u-text-small(ng-bind='::page.name')
      .sidebar__fixed-container(ng-show='leftSideBarIsHidden')
        aside.sidebar.-closed
          .sidebar__head
            ul.sidebar__menu.menu
              li
                a
            button.sidebar__collapse-button.-right(ng-click='leftSideBarIsHidden = !leftSideBarIsHidden')
              i.sidebar__collapse-arrow.ion-arrow-left-b
              i.sidebar__collapse-menu.ion-android-menu
          .sidebar__body
      .columns.main-content.notes-modal__container(ng-class="{'large-8': !leftSideBarIsHidden && !rightSideBarIsHidden,\
      'large-10': leftSideBarIsHidden || rightSideBarIsHidden,\
      'large-12': leftSideBarIsHidden && rightSideBarIsHidden,\
      'canvas--padded-left': leftSideBarIsHidden,\
      'canvas--padded-right': rightSideBarIsHidden}")
        section.canvas-screen-viewer.scroller
          .canvas-screen-viewer-inner(ng-style='comparisonVm.selectedPage.screenParentStyle()')
            #screen.canvas-screen(ng-style='comparisonVm.selectedPage.screenStyle()')
      .columns.large-2.right-sidebar(ng-hide='rightSideBarIsHidden')
        aside.sidebar
          .sidebar__head
            .sidebar__title
              | Implemented Screens
            button.sidebar__collapse-button.-right(ng-click='rightSideBarIsHidden = !rightSideBarIsHidden')
              i.sidebar__collapse-arrow.ion-arrow-left-b
              i.sidebar__collapse-menu.ion-android-menu
          .sidebar__body
            .scroller
              ul.items-spaced
                li(ng-repeat='page in comparisonVm.comparisonData.pages')
                  a(ng-click='comparisonVm.comparisonData.selectPage($index)')
                    img.thumbnail(ng-class="{'is-active': page.objectID === comparisonVm.selectedPage.obj.objectID}", ng-src='{{::(page.imageBase64 || page.implementedImagePath)}}')
                    span.u-text-small(ng-bind='page.name')
      .sidebar__fixed-container(ng-show='rightSideBarIsHidden')
        aside.sidebar.-closed.-closed-right
          .sidebar__head
            ul.sidebar__menu.menu
              li
                a
            button.sidebar__collapse-button.-left(ng-click='rightSideBarIsHidden = !rightSideBarIsHidden')
              i.sidebar__collapse-arrow.ion-arrow-left-b
              i.sidebar__collapse-menu.ion-android-menu
          .sidebar__body
