
<div class="svg-icons">
  <ng-include src="'images/svg-defs.svg'"></ng-include>
</div>
<div class="screen canvas comparison">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>
  <div class="screen__row">
    <ng-include src="'app/partials/canvas-header.html'"></ng-include>
  </div>
  <div class="screen__row -rest">
    <div class="row expanded collapse">
      <div class="columns large-2 left-sidebar" ng-hide="leftSideBarIsHidden">
        <aside class="sidebar">
          <div class="sidebar__head">
            <div class="sidebar__title">Original Screens</div>
            <button class="sidebar__collapse-button -left" ng-click="leftSideBarIsHidden = !leftSideBarIsHidden"><svg><use xlink:href="#shape-bar-close-left" /></svg></button>
          </div>
          <div class="sidebar__body">
            <div class="scroller">
              <ul class="items-spaced">
                <li ng-repeat="page in comparisonVm.comparisonData.pages"><a ng-click="comparisonVm.comparisonData.setOriginalScreen($index)"><img class="thumbnail" ng-class="{'is-active': page.id === comparisonVm.selectedPage}" ng-src="{{page.thumbImage}}"/><span class="u-text-small" ng-bind="::page.name"></span></a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
      <div class="sidebar__fixed-container" ng-show="leftSideBarIsHidden">
        <aside class="sidebar -closed">
          <div class="sidebar__head">
            <ul class="sidebar__menu menu">
              <li><a></a></li>
            </ul>
            <button class="sidebar__collapse-button -right" ng-click="leftSideBarIsHidden = !leftSideBarIsHidden"><svg><use xlink:href="#shape-bar-close-left" /></svg></button>
          </div>
          <div class="sidebar__body"></div>
        </aside>
      </div>
      <div class="columns main-content notes-modal__container" ng-class="{'large-8': !leftSideBarIsHidden &amp;&amp; !rightSideBarIsHidden,      'large-10': leftSideBarIsHidden || rightSideBarIsHidden,      'large-12': leftSideBarIsHidden &amp;&amp; rightSideBarIsHidden,      'canvas--padded-left': leftSideBarIsHidden,      'canvas--padded-right': rightSideBarIsHidden}">
        <section class="canvas-screen-viewer scroller">
          <div class="text-center no-compare" ng-show="!img1 || !img2">
            <img src="images/comparison-empty-state.png" alt="">
          </div>
          <div class="c-loader" ng-show="loading"></div>
          <div ng-hide="loading" ng-if="img1 && img2" compare img1="{img1}" img2="{img2}"></div>
        </section>
      </div>
      <div class="columns large-2 right-sidebar" ng-hide="rightSideBarIsHidden">
        <aside class="sidebar">
          <div class="sidebar__head">
            <div class="sidebar__title">Implemented Screens</div>
            <button class="sidebar__collapse-button -right" ng-click="rightSideBarIsHidden = !rightSideBarIsHidden"><svg><use xlink:href="#shape-bar-close-right" /></svg></button>
          </div>
          <div class="sidebar__body">
            <div class="scroller">
              <ul class="items-spaced fixed-button-bottom screens-list">
                <li ng-repeat="page in comparisonVm.comparisonData.implementedPages"><a ng-click="comparisonVm.comparisonData.setImplementedScreen($index)"><img class="thumbnail" ng-class="{'is-active': page.id === comparisonVm.selectedCompare}" ng-src="{{page.thumb}}"/><span class="u-text-small" ng-bind="page.name"></span></a><a class="remove" ng-click="comparisonVm.comparisonData.deleteScreen(page.id)">&times;</a></li>
                <li ng-if="uploading">
                  <div ng-class="progressPercentage == 100 ? 'uploading done' : 'uploading'"><img src="images/project-thumb.png" alt="">
                    <div class="progress" style="width: {{progressPercentage}}%"></div><div ng-if="progressPercentage = 100" class="c-loader"></div></div>
                </li>
              </ul>
            </div>
            <div class="fixed-button">
              <form name="form">
                <a ng-class="{'is-uploading': uploading}" ng-disabled="uploading" ngf-select="comparisonVm.uploadScreen($file)">Upload Implemented Screens</a>
              </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="sidebar__fixed-container" ng-show="rightSideBarIsHidden">
        <aside class="sidebar -closed -closed-right">
          <div class="sidebar__head">
            <ul class="sidebar__menu menu">
              <li><a></a></li>
            </ul>
            <button class="sidebar__collapse-button -left" ng-click="rightSideBarIsHidden = !rightSideBarIsHidden"><svg><use xlink:href="#shape-bar-close-right" /></svg></button>
          </div>
          <div class="sidebar__body"></div>
        </aside>
      </div>
    </div>
  </div>
</div>
