<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="screen canvas">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>

  <div class="screen__row">
    <div class="page-head">
      <div class="row expanded align-middle">
        <div class="columns large-2"></div>
        <div class="columns large-8">
          <ul class="page-head__menu menu align-center">
            <li class="active"><a ui-sref="dashboard"><svg><use xlink:href="#shape-dashboard" /></svg></a></li>
            <li><a ui-sref="notes"><i class="ion-chatbox-working u-icon-24"></i></a></li>
            <li><a><svg><use xlink:href="#shape-more" /></svg></a></li>
            <li><a><svg><use xlink:href="#shape-layers" /></svg></a></li>
          </ul>
        </div>
        <div class="columns large-2 text-right">
          <ul class="actions menu align-right">
            <li>
              <dropdown-toggle pane-align="center" close-on-click="true">
                <toggle>
                  <button class="actions__button"><span class="actions__status actions__status--warning"></span></button>
                </toggle>
                <pane>
                  <ul class="dd-menu">
                    <li class="title">Status</span></li>
                    <li><a href="#" class="status-danger">New</a></li>
                    <li><a href="#" class="status-warning">In Progress</a></li>
                    <li><a href="#" class="status-success">Approved</a></li>
                  </ul>
                </pane>
              </dropdown-toggle>
            </li>
            <li>
              <dropdown-toggle pane-align="center" close-on-click="true" class="calendar-menu">
                <toggle>
                  <button class="actions__button"><i class="ion-calendar"></i></button>
                </toggle>
                <pane>
                  <ul class="dd-menu">
                    <li class="title">Calendar</span></li>
                    <li><div pickadate ng-model="date"></div></li>
                  </ul>
                </pane>
              </dropdown-toggle>
            </li>
            <li>
              <dropdown-toggle pane-align="center" close-on-click="true">
                <toggle>
                <button class="actions__button"><i class="ion-person"></i></button>
                </toggle>
                <pane>
                  <ul class="dd-menu assign-dd">
                    <li class="title">Assign to</span></li>
                    <li><a href="#"><img src="images/demo/avatar.png" class="avatar">John Doe</a></li>
                    <li><a href="#"><img src="images/demo/avatar.png" class="avatar">Marry Keith</a></li>
                  </ul>
                </pane>
              </dropdown-toggle>
            </li>
            <li>
              <dropdown-toggle pane-align="center" close-on-click="true" class="tags-dropdown">
                <toggle>
                  <button class="actions__button"><i class="ion-pricetag"></i></button>
                </toggle>
                <pane>
                  <ul class="dd-menu">
                    <li><span class="title">Tags</span></li>
                    <li>
                      <div class="tags">
                        <a href="#" style="background: #4be1ab">screen</a>
                        <a href="#" style="background: #fe5339">iOS</a>
                        <a href="#" style="background: #f3d351">Product</a>
                      </div>
                      <div class="input-wrapper">
                        <input type="text" placeholder="# Add Tag">
                        <input type="color">
                      </div>
                      <a class="action-button">Add Tag</a>
                    </li>
                  </ul>
                </pane>
              </dropdown-toggle>
            </li>
            <li>
              <dropdown-toggle pane-align="center" close-on-click="true">
                <toggle>
                  <button class="actions__button"><i class="ion-forward"></i></button>
                </toggle>
                <pane>
                  <ul class="dd-menu forward-dd">
                    <li class="title">Forward to</span></li>
                    <li><a href="#"><img src="images/slack.svg" class="forward-to" alt="Trello">Slack</a></li>
                    <li><a href="#"><img src="images/trello.svg" class="forward-to" alt="Trello"> Trello</a></li>
                  </ul>
                </pane>
              </dropdown-toggle>
            </li>
            <li>
              <dropdown-toggle pane-align="right" close-on-click="true" class="share-dropdown">
                <toggle>
                  <button class="actions__button"><svg><use xlink:href="#shape-attachment" /></svg></button>
                </toggle>
                <pane>
                  <ul class="dd-menu">
                    <li class="title">Share</span></li>
                    <li>
                      <div class="link-wrapper">
                        <input type="text" value="http://draftapp.io/i8rm3c" disabled>
                        <button>Copy</button>
                      </div>
                      <input type="email" placeholder="Enter Email Address">
                      <a href="#" class="action-button">Send</a>
                    </li>
                  </ul>
                </pane>
              </dropdown-toggle>

            </li>
            <li>
              <dropdown-toggle pane-align="right" close-on-click="true">
                <toggle>
                  <button class="actions__button u-space-h-undo"><i class="ion-more"></i></button>
                </toggle>
                <pane>
                  <ul class="dd-menu">
                    <li><a href="#"><i class="ion-ios-copy-outline"></i>Duplicate</a></li>
                    <li><a href="#"><i class="ion-ios-trash-outline"></i> Delete</a></li>
                  </ul>
                </pane>
              </dropdown-toggle>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="screen__row -rest">
    <div class="row expanded collapse">
      <div class="columns large-2 left-sidebar" ng-hide="leftSideBarIsHidden">
        <aside class="sidebar">
          <div class="sidebar__head">
            <ul class="sidebar__menu sidebar__menu--left sidebar__menu--items-2 menu">
              <li ng-class="{'active': activetab === 'boards'}">
                <a ng-click="activetab = 'boards'" ng-init="activetab = 'boards'">
                  <svg><use xlink:href="#shape-images" /></svg>
                </a>
              </li>
              <li ng-class="{'active': activetab === 'layers'}">
                <a ng-click="activetab = 'layers'">
                  <svg><use xlink:href="#shape-layers" /></svg>
                </a>
              </li>
            </ul>
            <button
              class="sidebar__collapse-button -left"
              ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
              <i class="sidebar__collapse-arrow ion-arrow-left-b"></i>
              <i class="sidebar__collapse-menu ion-android-menu"></i>
            </button>
          </div>
          <div class="sidebar__body">
            <div class="scroller">
              <ul class="items-spaced">
                <li ng-repeat="artBoard in dashboardVm.project.artboards" ng-show="activetab === 'boards'">
                  <a ng-click="dashboardVm.project.selectArtBoard(artBoard)">
                    <img
                      class="thumbnail"
                      ng-class="{'is-active': artBoard.objectID === dashboardVm.selectedArtBoard.obj.objectID}"
                      ng-src="{{::(artBoard.imageBase64 || artBoard.imagePath)}}">
                    <span class="u-text-small" ng-bind="::artBoard.name"></span>
                  </a>
                </li>
                <li
                  class="o-list--stripped"
                  ng-class="{'selected': layer.selected}"
                  ng-repeat="layer in dashboardVm.selectedArtBoard.obj.layers"
                  ng-show="activetab === 'layers'"
                  ng-mouseenter="dashboardVm.selectedArtBoard.layerMouseEnter(layer)"
                  ng-mouseleave="dashboardVm.selectedArtBoard.layerMouseLeave(layer)"
                  ng-mousemove="dashboardVm.selectedArtBoard.layerMouseMove(layer);$event.stopPropagation()"
                  ng-click="dashboardVm.selectedArtBoard.selectLayer(layer)">
                  <span class="layer-type-{{layer.type}}"></span> {{layer.name}}
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="sidebar__fixed-container" ng-show="leftSideBarIsHidden">
        <aside class="sidebar -closed">
          <div class="sidebar__head">
            <ul class="sidebar__menu menu">
              <li>
                <a></a>
              </li>
            </ul>
            <button
              class="sidebar__collapse-button -right"
              ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
              <i class="sidebar__collapse-arrow ion-arrow-left-b"></i>
              <i class="sidebar__collapse-menu ion-android-menu"></i>
            </button>
          </div>
          <div class="sidebar__body"></div>
        </aside>
      </div>

      <div
        class="columns main-content"
        ng-class="{'large-8': !leftSideBarIsHidden && !rightSideBarIsHidden,
          'large-10': leftSideBarIsHidden || rightSideBarIsHidden,
          'large-12': leftSideBarIsHidden && rightSideBarIsHidden,
          'canvas--padded-left': leftSideBarIsHidden,
          'canvas--padded-right': rightSideBarIsHidden}"
      >
        <div class="nav-widget nav-widget--prev">
          <a ng-click="dashboardVm.project.selectArtBoard()"><svg><use xlink:href="#shape-prev" /></svg></a>
        </div>
        <div class="zoom-widget" ng-click="$event.stopPropagation()">
          <button
            class="zoom-in"
            ng-disabled="dashboardVm.project.configs.zoom <= .25"
            ng-click="dashboardVm.selectedArtBoard.zoomIn()">
          </button>

          <label class="zoom-text" style="margin: 0 5px;">
            {{dashboardVm.project.configs.zoom * 100}}%
          </label>

          <button
            class="zoom-out"
            ng-click="dashboardVm.selectedArtBoard.zoomOut()"
            ng-disabled="dashboardVm.project.configs.zoom >= 2">
          </button>
        </div>
        <div class="nav-widget nav-widget--next">
          <a ng-click="dashboardVm.project.selectArtBoard()"><svg><use xlink:href="#shape-next" /></svg></a>
        </div>
        <section
          class="canvas-screen-viewer scroller"
          ng-mousemove="dashboardVm.selectedArtBoard.screenMouseMove($event)"
          ng-click="dashboardVm.selectedArtBoard.unselectLayer()">
          <div
            class="canvas-screen-viewer-inner"
            ng-style="dashboardVm.selectedArtBoard.screenParentStyle()"
             ng-click="$event.stopPropagation()">
            <div
              id="screen"
              class="canvas-screen"
              ng-style="dashboardVm.selectedArtBoard.screenStyle()"
              ng-mousemove="$event.stopPropagation()">
              <div id="rulers" ng-hide="dashboardVm.selectedArtBoard.ruler.isHidden">
                <div id="rv" class="ruler v" ng-style="dashboardVm.selectedArtBoard.vRulersStyle()"></div>
                <div id="rh" class="ruler h" ng-style="dashboardVm.selectedArtBoard.hRulersStyle()"></div>
              </div>
              <div id="layers">
                <div
                  class="layer layer-{{layer.objectID}}"
                  ng-repeat="layer in dashboardVm.selectedArtBoard.obj.layers"
                  ng-class="{
                    'long': dashboardVm.selectedArtBoard.zoomSize(layer.height)>= 32,
                    'wide': dashboardVm.selectedArtBoard.zoomSize(layer.width)>= 32,
                    'hover': layer.hover,
                    'selected': layer.selected,
                    'has-slice': layer.hasSlice
                  }"
                  data-width="{{dashboardVm.selectedArtBoard.unitSize(layer.rect.width)}}"
                  data-height="{{dashboardVm.selectedArtBoard.unitSize(layer.rect.height)}}"
                  ng-style="dashboardVm.selectedArtBoard.layerStyle(layer)"
                  ng-mouseenter="dashboardVm.selectedArtBoard.layerMouseEnter(layer)"
                  ng-mouseleave="dashboardVm.selectedArtBoard.layerMouseLeave(layer)"
                  ng-mousemove="dashboardVm.selectedArtBoard.layerMouseMove(layer);$event.stopPropagation()"
                  ng-click="dashboardVm.selectedArtBoard.selectLayer(layer)">
                    <i class="tl"></i><i class="tr"></i><i class="bl"></i><i class="br"></i>
                    <b class="et h"></b><b class="er v"></b><b class="eb h"></b><b class="el v"></b>
                </div>
              </div>
              <div
                id="td"
                class="distance v"
                ng-hide="dashboardVm.selectedArtBoard.distance.top.isHidden"
                ng-style="dashboardVm.selectedArtBoard.distanceStyle(dashboardVm.selectedArtBoard.distance.top)">
                <div data-height="{{dashboardVm.selectedArtBoard.distance.top.value}}"></div>
              </div>
              <div
                id="rd"
                class="distance h"
                ng-hide="dashboardVm.selectedArtBoard.distance.right.isHidden"
                ng-style="dashboardVm.selectedArtBoard.distanceStyle(dashboardVm.selectedArtBoard.distance.right)">
                <div data-width="{{dashboardVm.selectedArtBoard.distance.right.value}}"></div>
              </div>
              <div
                id="bd"
                class="distance v"
                ng-hide="dashboardVm.selectedArtBoard.distance.bottom.isHidden"
                ng-style="dashboardVm.selectedArtBoard.distanceStyle(dashboardVm.selectedArtBoard.distance.bottom)">
                <div data-height="{{dashboardVm.selectedArtBoard.distance.bottom.value}}"></div>
              </div>
              <div
                id="ld"
                class="distance h"
                ng-hide="dashboardVm.selectedArtBoard.distance.left.isHidden"
                ng-style="dashboardVm.selectedArtBoard.distanceStyle(dashboardVm.selectedArtBoard.distance.left)">
                <div data-width="{{dashboardVm.selectedArtBoard.distance.left.value}}"></div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="columns large-2 right-sidebar" ng-hide="rightSideBarIsHidden">
        <aside class="sidebar">
          <div class="sidebar__head">
            <ul class="sidebar__menu sidebar__menu--right sidebar__menu--items-4 menu">
              <li ng-class="{'active': rightActivetab === 'code'}">
                <a
                  ng-click="rightActivetab = 'code'"
                  ng-init="rightActivetab = 'props'">
                  <i class="ion-code u-align-block-center"></i>
                </a>
              </li>
              <li ng-class="{'active': rightActivetab === 'colors'}">
                <a
                  ng-click="rightActivetab = 'colors'">
                  <i class="ion-android-color-palette u-align-block-center"></i>
                </a>
              </li>
              <li ng-class="{'active': rightActivetab === 'props'}">
                <a ng-click="rightActivetab = 'props'">
                  <svg class="icon-text"><use xlink:href="#shape-t" /></svg>
                </a>
              </li>
              <li ng-class="{'active': rightActivetab === 'slices'}">
                <a ng-click="rightActivetab = 'slices'">
                  <i class="ion-image u-align-block-center"></i>
                </a>
              </li>
            </ul>
            <button
              class="sidebar__collapse-button -right"
              ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
              <i class="sidebar__collapse-arrow ion-arrow-left-b"></i>
              <i class="sidebar__collapse-menu ion-android-menu"></i>
            </button>
          </div>
          <div class="sidebar__body">
            <div class="scroller">
              <div ng-show="rightActivetab === 'code'">
                <div class="code-wrapper" ng-if="dashboardVm.selectedArtBoard.selectedLayer.css.length">
<pre>.layer {
  {{dashboardVm.selectedArtBoard.selectedLayer.formattedStyle}}
}</pre>
                </div>
              </div>

              <ul class="items-spaced color-wrapper" ng-show="rightActivetab === 'colors'">
                <li ng-repeat="color in dashboardVm.project.colors">
                  <span class="color-sample" style="background-color: {{color.color['css-rgba']}}"></span>
                  <span class="color-name">{{color.name}}</span><br>
                  <span class="color-code">{{color.color['color-hex']}}</span>
                </li>
                <li class="add-style-guide">
                  <a href="#">+ Add Style Guide</a>
                </li>
              </ul>
              <aside class="inspector" ng-show="rightActivetab === 'slices'">
                <ul class="items-spaced images-layers">
                  <li ng-repeat="sliceLayer in dashboardVm.project.slices"
                    class="slice-layer" data-objectId="{{sliceLayer.objectID}}"
                    ng-mouseenter="dashboardVm.project.sliceMouseEnter(sliceLayer)"
                    ng-mouseleave="dashboardVm.project.sliceMouseLeave(sliceLayer)">
                    <a ng-click="dashboardVm.project.selectSlice(sliceLayer)" class="text-center">
                      <img class="thumbnail" src="assets/{{sliceLayer.exportable[0].path}}" alt="{{sliceLayer.exportable[0].path}}">
                      <div class="u-text-small" ng-bind="::sliceLayer.name"></div>
                      <div>{{dashboardVm.selectedArtBoard.unitSize(sliceLayer.rect.width)}} × {{dashboardVm.selectedArtBoard.unitSize(sliceLayer.rect.height)}}</div>
                    </a>
                  </li>
                </ul>
                <section>
                  <h3>Export</h3>
                  <div class="context export-options">
                    <div class="row">
                      <div class="columns small-6">
                        <dropdown-toggle pane-align="left" close-on-click="true">
                          <toggle>
                            <button class="select">1x</button>
                          </toggle>
                          <pane>
                            <ul class="menu vertical">
                              <li><a href="#">1x</a></li>
                              <li><a href="#">2x</a></li>
                              <li><a href="#">3x</a></li>
                              <li><a href="#">0.5x</a></li>
                              <li><a href="#">512W</a></li>
                              <li><a href="#">512H</a></li>
                            </ul>
                          </pane>
                        </dropdown-toggle>
                      </div>
                      <div class="columns small-6">
                        <dropdown-toggle pane-align="left" close-on-click="true">
                          <toggle>
                            <button class="select">PNG</button>
                          </toggle>
                          <pane>
                            <ul class="menu vertical">
                              <li><a href="#">PNG</a></li>
                              <li><a href="#">SVG</a></li>
                              <li><a href="#">JPG</a></li>
                            </ul>
                          </pane>
                        </dropdown-toggle>
                      </div>
                    </div>
                    <div class="row">
                      <div class="columns small-12">
                        <a class="export-button" href="#">Export</a>
                      </div>
                    </div>
                  </div>
                </section>
              </aside>

              <div ng-show="rightActivetab === 'props'">
                <ul class="items-spaced" ng-show="!dashboardVm.selectedArtBoard.selectedLayer">
                  <li class="text-center">Please select a layer to see its properities</li>
                </ul>
                <aside class="inspector active" ng-show="dashboardVm.selectedArtBoard.selectedLayer">
                  <!-- dashboardVm.selectedArtBoard.selectedLayer -->
                  <h2>{{dashboardVm.selectedArtBoard.selectedLayer.name}}</h2>

                  <!-- properities -->
                  <section>
                    <h3>Properties</h3>
                    <div class="context">
                      <div class="row">
                        <div class="columns small-6">
                          x:<span class="value">{{dashboardVm.selectedArtBoard.unitSize(dashboardVm.selectedArtBoard.selectedLayer.rect.x)}}</span>
                        </div>
                        <div class="columns small-6">
                          y:<span class="value">{{dashboardVm.selectedArtBoard.unitSize(dashboardVm.selectedArtBoard.selectedLayer.rect.y)}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columns small-6">
                          Width:<span class="value">{{dashboardVm.selectedArtBoard.unitSize(dashboardVm.selectedArtBoard.selectedLayer.rect.width)}}</span>
                        </div>
                        <div class="columns small-6">
                          Height:<span class="value">{{dashboardVm.selectedArtBoard.unitSize(dashboardVm.selectedArtBoard.selectedLayer.rect.height)}}</span>
                        </div>
                      </div>
                      <div class="row" ng-show="dashboardVm.selectedArtBoard.isNumber(dashboardVm.selectedArtBoard.selectedLayer.opacity)">
                        <div class="columns small-12">
                          Opacity: <span class="value">{{dashboardVm.selectedArtBoard.round(dashboardVm.selectedArtBoard.selectedLayer.opacity * 10000)/100}}%</span>
                        </div>
                      </div>
                      <div class="row" ng-if="dashboardVm.selectedArtBoard.selectedLayer.radius">
                        <div class="columns small-12">
                          Radius: <span class="value">{{dashboardVm.selectedArtBoard.unitSize(dashboardVm.selectedArtBoard.selectedLayer.radius)}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columns small-12">
                          Style: <span class="value">{{dashboardVm.selectedArtBoard.selectedLayer.styleName}}</span>
                        </div>
                      </div>
                    </div>
                  </section>

                  <!-- fills -->
                  <section ng-if="dashboardVm.selectedArtBoard.selectedLayer.fills.length">
                    <h3>Filling</h3>
                    <div class="context contain-colors">
                      <div class="row" ng-repeat="fill in dashboardVm.selectedArtBoard.selectedLayer.fills">
                        <div class="columns small-12">
                          <div class="color" data-name="{{dashboardVm.project.colorNames[fill.color['argb-hex']]}}" ng-if="fill.fillType === 'color'">
                            <label><em><i style="background-color:{{fill.color['css-rgba']}};"></i></em></label>
                            <input
                              data-color="todo"
                              type="text" value="{{fill.color[dashboardVm.project.configs.colorFormat]}}" readonly="readonly">
                          </div>
                          <div class="gradient" ng-if="fill.fillType !== 'color'">
                            <div ng-repeat="color in fill.gradient.colorStops" class="color" data-name="{{dashboardVm.project.colorNames[color['argb-hex']]}}">
                              <label><em><i style="background-color:{{color['css-rgba']}};"></i></em></label>
                              <input
                                data-color="todo"
                                type="text" value="{{color[dashboardVm.project.configs.colorFormat]}}" readonly="readonly">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                  <section ng-if="dashboardVm.selectedArtBoard.selectedLayer.type === 'text'">
                    <h3>Typeface</h3>
                    <div class="context">
                      <div class="row">
                        <div class="columns small-12">
                          Font: <span class="value">{{dashboardVm.selectedArtBoard.selectedLayer.fontFace}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columns small-12">
                          Letter spacing: <span class="value">{{dashboardVm.selectedArtBoard.unitSize(dashboardVm.selectedArtBoard.selectedLayer.letterSpacing, true)}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columns small-12">
                          Line height: <span class="value">{{dashboardVm.selectedArtBoard.unitSize(dashboardVm.selectedArtBoard.selectedLayer.lineHeight, true)}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columns small-12">
                          Size: <span class="value">{{dashboardVm.selectedArtBoard.unitSize(dashboardVm.selectedArtBoard.selectedLayer.fontSize, true)}}</span>
                        </div>
                      </div>
                      <div class="row" ng-if="fill.fillType === 'color'">
                        <div class="columns small-12">
                          <div class="color"
                            data-name="{{dashboardVm.project.colorNames[dashboardVm.selectedArtBoard.selectedLayer['argb-hex']]}}">
                            <label>
                              <em>
                                <i style="background-color:{{dashboardVm.selectedArtBoard.selectedLayer['css-rgba']}};"></i>
                              </em>
                            </label>
                            <input
                              data-color="todo"
                              type="text" value="{{dashboardVm.selectedArtBoard.selectedLayer[dashboardVm.project.configs.colorFormat]}}" readonly="readonly">
                          </div>

                        </div>
                      </div>
                      <div class="row">
                        <div class="columns small-12">
                          Content:
                          <textarea id="content" rows="2" readonly="readonly">{{dashboardVm.selectedArtBoard.selectedLayer.content}}</textarea>
                        </div>
                      </div>
                    </div>
                  </section>

                  <!-- borders -->
                  <section ng-if="dashboardVm.selectedArtBoard.selectedLayer.borders.length">
                    <h3>BORDERS</h3>
                    <div class="context">
                      <div class="items-group" ng-repeat="border in dashboardVm.selectedArtBoard.selectedLayer.borders">
                        <h4>{{border.position}} Border</h4>
                        <div class="item" data-label="Weight:">
                          <label><input id="font-family" type="text" value="{{dashboardVm.selectedArtBoard.unitSize(border.thickness)}}" readonly="readonly"></label>
                          <label></label>
                        </div>

                        <div class="item" data-label="{{border.fillType}}">
                          <div
                            class="color"
                            data-name="{{dashboardVm.project.colorNames[border.color['argb-hex']]}}"
                            ng-if="border.fillType === 'color'">
                            <label><em><i style="background-color:{{border.color['css-rgba']}};"></i></em></label>
                            <input
                              data-color="todo"
                              type="text" value="{{fill.color[dashboardVm.project.configs.colorFormat]}}" readonly="readonly">
                          </div>

                          <div class="gradient" ng-if="border.fillType !== 'color'">
                            <div ng-repeat="color in border.gradient.colorStops" class="color" data-name="{{dashboardVm.project.colorNames[color['argb-hex']]}}">
                              <label><em><i style="background-color:{{color['css-rgba']}};"></i></em></label>
                              <input
                                data-color="todo"
                                type="text" value="{{color[dashboardVm.project.configs.colorFormat]}}" readonly="readonly">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                  <!-- shadows -->
                  <section ng-if="dashboardVm.selectedArtBoard.selectedLayer.shadows.length">
                    <h3>SHADOWS</h3>

                    <div class="context">
                      <div
                        class="items-group"
                        ng-repeat="shadow in dashboardVm.selectedArtBoard.selectedLayer.shadows">
                          <h4>{{shadow.type}} Shadow)</h4>
                          <div class="item" data-label="Offset :">
                              <label data-label="X">
                                <input
                                  id="offset-x" type="text"
                                  value="{{dashboardVm.selectedArtBoard.unitSize(shadow.offsetX)}}" readonly="readonly">
                                </label>
                              <label data-label="Y">
                                <input
                                  id="offset-y" type="text"
                                  value="{{dashboardVm.selectedArtBoard.unitSize(shadow.offsetY)}}" readonly="readonly">
                                </label>
                          </div>
                          <div class="item" data-label="Effect:">
                              <label data-label="Blur)">
                                <input id="offset-x" type="text" value="{{dashboardVm.selectedArtBoard.unitSize(shadow.blurRadius)}}" readonly="readonly">
                              </label>
                              <label data-label="Spread)">
                                <input id="offset-y" type="text" value="{{dashboardVm.selectedArtBoard.unitSize(shadow.spread)}}" readonly="readonly">
                              </label>
                          </div>
                          <div class="item" data-label="Color:">
                              self.colorItem(shadow.color)
                          </div>
                      </div>
                    </div>
                  </section>

                  <section ng-if="dashboardVm.selectedArtBoard.selectedLayer.css.length">
                    <h3>CSS Style</h3>
                    <div class="context">
                      <div class="item">
                        <label>
                          <textarea id="css" rows="{{dashboardVm.selectedArtBoard.selectedLayer.css.length + 1}}" readonly="readonly">{{dashboardVm.selectedArtBoard.selectedLayer.styleList}}</textarea>
                        </label>
                      </div>
                    </div>
                  </section>

                  <section ng-if="dashboardVm.selectedArtBoard.selectedLayer.exportable.length">
                    <h3>EXPORTABLES</h3>
                    <div class="context">
                      <ul class="exportable">
                        <li ng-repeat="exportable in dashboardVm.selectedArtBoard.selectedLayer.exportable">
                          <a href="assets/{{exportable.path}}" data-format="exportable.format">
                            <img src="assets/{{exportable.path}}" alt="assets/{{exportable.path}}">assets/{{exportable.path}}</a>
                          </li>
                        </ul>
                    </div>
                  </section>
                </aside>
              </div>
            </div>
          </div>
        </aside>
      </div>

      <div class="sidebar__fixed-container" ng-show="rightSideBarIsHidden">
        <aside class="sidebar -closed  -closed-right">
          <div class="sidebar__head">
            <ul class="sidebar__menu menu">
              <li>
                <a></a>
              </li>
            </ul>
            <button
              class="sidebar__collapse-button -left"
              ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
              <i class="sidebar__collapse-arrow ion-arrow-left-b"></i>
              <i class="sidebar__collapse-menu ion-android-menu"></i>
            </button>
          </div>
          <div class="sidebar__body"></div>
        </aside>
      </div>


      <aside
        style="position: absolute;top: 105px;bottom: 0;right: 0;height: calc(100vh - 105px);width: 240px;overflow: auto;z-index: 4;"
        class="unit-box ng-hide">
        <div
          style="padding:15px;border-bottom: 1px solid;background: white;cursor: pointer;"
          ng-click="dashboardVm.project.isShownReolution = !dashboardVm.project.isShownReolution">{{dashboardVm.project.selectedResolution}}</div>
        <div
          style="background: white;"
          ng-repeat="resolution in dashboardVm.project.unitsData"
          ng-show="dashboardVm.project.isShownReolution">
          <div ng-if="resolution.name" style="padding: 15px;border-top: 1px solid;border-bottom: 1px solid;">{{resolution.name}}</div>
          <div ng-repeat="unit in resolution.units" style="padding-left: 15px">
            <label>
              <input
                type="radio" name="resolution" data-name="{{unit.name}}" data-unit="{{unit.unit}}" data-scale="scale"
                ng-value="unit.name"
                ng-checked="unit.unit == dashboardVm.project.configs.unit && unit.scale == dashboardVm.project.configs.scale"
                ng-change="dashboardVm.project.configs.unit = unit.unit;dashboardVm.project.configs.scale = unit.scale"
                ng-model="dashboardVm.project.selectedResolution">
              <span>{{unit.name}}</span>
            </label>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
