<div class="sign password-reset">
  <img class="full-logo" src="images/draft-logo.svg" alt="Draft">
  <div class="row align-center">
    <div class="column large-6 medium-7">
      <div class="row collapse u-space-v">
        <div class="column">
          <div class="card card--shadowed text-center">
            <div class="card__body">
              <div class="row collapse align-center is-collapse-child">
                <div class="column medium-10">
                  <h4>{{::forgotPasswordVM.isReset ? 'Rest Your Password' : 'Forgot Password'}}</h4>

                  <p ng-hide="forgotPasswordVM.isReset">Enter the email address you signed up for Draft.<br />An email will be sent containing a link<br />to reset your password.</p>
                  <div
                    class="callout success"
                    ng-if="forgotPasswordVM.info"
                  >{{forgotPasswordVM.info}}</div>
                  <div
                    class="callout alert text-left"
                    ng-if="forgotPasswordVM.errors.length"
                  >
                    <ul>
                      <li ng-repeat="error in forgotPasswordVM.errors">{{error}}</li>
                    </ul>
                  </div>

                  <form ng-submit="forgotPasswordVM.submit()">
                    <fieldset ng-disabled="forgotPasswordVM.loading">
                      <div class="form-group" ng-if="!forgotPasswordVM.isReset">
                        <label for="email">Email Address</label>
                        <input autofocus id="email" type="email" placeholder="Your Email" ng-model="forgotPasswordVM.form.email" required>
                      </div>

                      <div class="form-group" ng-if-start="forgotPasswordVM.isReset">
                        <input autofocus type="password" placeholder="New Password" ng-model="forgotPasswordVM.form.password" required>
                      </div>

                      <div class="form-group" ng-if-end>
                        <input type="password" placeholder="New Password Confirmation" ng-model="forgotPasswordVM.form.password_confirmation" required>
                      </div>

                      <button type="submit" class="button expanded success">Send Instructions</button>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row collapse text-center u-text-small u-space-v-large">
        <div class="column">
          Remembered? <a class="link link--underline" ui-sref="login">Login?</a>
        </div>
      </div>
    </div>
  </div>
</div>
