<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="screen canvas">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>
  <div class="screen__row">
    <ng-include src="'app/partials/canvas-header.html'"></ng-include>
  </div>
  <div class="screen__row -rest">
    <div class="row expanded collapse">
      <div class="columns large-2 left-sidebar wide-sidebar" ng-hide="leftSideBarIsHidden">
        <aside class="sidebar">
          <div class="sidebar__head">
            <div class="sidebar__title">Screens</div>
            <button
              class="sidebar__collapse-button -left"
              ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
              <svg><use xlink:href="#shape-bar-close-left" /></svg>
            </button>
          </div>
          <div class="sidebar__body">
            <div class="scroller">
              <ul class="items-spaced">
                <li ng-repeat="artBoard in notesVm.project.artboards">
                  <a href="/projects/{{project.id}}/{{project.slug}}/{{artBoard.id}}/notes" ng-click="notesVm.project.selectArtBoard(artBoard)">
                    <img
                      class="thumbnail"
                      ng-class="{'is-active': artBoard.id === notesVm.selectedArtBoard.obj.id}"
                      ng-src="{{::(artBoard.imageBase64 || artBoard.thumbImage)}}">
                    <span class="u-text-small" ng-bind="::artBoard.name"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="sidebar__fixed-container" ng-show="leftSideBarIsHidden">
        <aside class="sidebar -closed">
          <div class="sidebar__head">
            <ul class="sidebar__menu menu">
              <li>
                <a></a>
              </li>
            </ul>
            <button
              class="sidebar__collapse-button -right"
              ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
              <svg><use xlink:href="#shape-bar-close-left" /></svg>
            </button>
          </div>
          <div class="sidebar__body"></div>
        </aside>
      </div>

      <!-- FIXME: notes-modal__container needs fixing -->
      <div
        class="columns main-content notes-modal__container"
        ng-class="{'large-8': !leftSideBarIsHidden && !rightSideBarIsHidden,
          'large-10': leftSideBarIsHidden || rightSideBarIsHidden,
          'large-12': leftSideBarIsHidden && rightSideBarIsHidden,
          'canvas--padded-left': leftSideBarIsHidden,
          'canvas--padded-right': rightSideBarIsHidden}"
      >
        <div class="nav-widget nav-widget--prev">
          <button ng-disabled="artboardIndex === 0" ng-click="notesVm.project.selectArtBoard(notesVm.project.artboards[artboardIndex - 1])"><svg><use xlink:href="#shape-prev" /></svg></button>
        </div>
        <div class="zoom-widget">

          <button
            class="zoom-in"
            ng-disabled="notesVm.project.configs.zoom <= .25"
            ng-click="notesVm.selectedArtBoard.zoomIn()">
          </button>

          <label class="zoom-text" style="margin: 0 5px;">
            {{notesVm.project.configs.zoom * 100}}%
          </label>

          <button
            class="zoom-out"
            ng-click="notesVm.selectedArtBoard.zoomOut()"
            ng-disabled="notesVm.project.configs.zoom >= 2">
          </button>
        </div>
        <div class="nav-widget nav-widget--next">
          <button ng-disabled="(artboardIndex + 1) === notesVm.project.artboards.length" ng-click="notesVm.project.selectArtBoard(notesVm.project.artboards[artboardIndex + 1])"><svg><use xlink:href="#shape-next" /></svg></button>
        </div>

        <div
          class="notes-modal__overlay"
          ng-show="notesVm.selectedArtBoard.currentopenedNote.isOpened"
          ng-click="notesVm.selectedArtBoard.closeNote()"></div>
        <div class="notes-modal" ng-show="notesVm.selectedArtBoard.currentopenedNote.isOpened">
          <div class="notes-modal__content">
            <div class="notes-modal__head">Note {{notesVm.selectedArtBoard.currentopenedNote.index}}</div>
            <div class="notes-modal__body">
              <div class="scroller">
                <div class="media-object" ng-repeat="message in notesVm.selectedArtBoard.currentopenedNote.obj.note">
                  <div class="media-object-section">
                    <div>
                      <img class="avatar" ng-src="{{message.userImg}}" width="32">
                    </div>
                  </div>
                  <div class="media-object-section main-section">
                    <h6 class="u-space-v-undo">{{message.userName}}</h6>
                    <p class="created-at"><time-ago from-time='{{ message.date }}'></time-ago></p>
                    <p class="note-text">{{message.text}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="notes-modal__footer">
              <div class="notes-modal__txt-box-container">
                <textarea
                  class="notes-modal__txt-box"
                  placeholder="Type your message"
                  ng-model="notesVm.selectedArtBoard.currentopenedNote.newMessage"></textarea>
              </div>
            </div>
            <div class="notes-modal__footer">
              <button
                class="button success notes-modal__button"
                ng-click="notesVm.selectedArtBoard.addNewReply()"
                ng-disabled="!notesVm.selectedArtBoard.currentopenedNote.newMessage">Reply</button>
            </div>
          </div>
        </div>

        <section class="canvas-screen-viewer scroller">
          <div
            class="canvas-screen-viewer-inner"
            ng-style="notesVm.selectedArtBoard.screenParentStyle()">
            <div
              id="screen"
              class="canvas-screen"
              ng-style="notesVm.selectedArtBoard.screenStyle()"
              ng-click="notesVm.selectedArtBoard.createNote($event)">
              <div id="notes">
                <div ng-repeat="note in notesVm.notes">
                  <dropdown-toggle class="note-wrapper" pane-align="center" close-on-click="true">
                    <toggle>
                      <div data-index="{{$index + 1}}" ng-style="notesVm.selectedArtBoard.notesStyle(note)" class="note"></div>
                    </toggle>
                    <pane>
                      <div class="notes-modal">
                        <div class="notes-modal__content">
                          <div class="notes-modal__head">Note {{$index + 1}} <span class="note__actions"><a href="#" tooltip-placement="bottom" tooltip="Resolve">Resolve</a> <a href="#"><svg><use xlink:href="#shape-trash" /></svg></a></span></div>
                          <div class="notes-modal__body">
                            <div class="scroller">
                              <div class="media-object">
                                <div class="media-object-section">
                                  <div>
                                    <img class="avatar" ng-if="note.user_img!==null" alt="{{note.user_name}}" ng-src="{{::(note.user_img)}}" width="32" />
                                    <img class="avatar" ng-if="note.user_img===null" alt="{{note.user_name}}" gravatar-src="note.user_email" ng-fallback="images/user-avatar.png" width="32" />
                                  </div>
                                </div>
                                <div class="media-object-section main-section">
                                  <h6 class="u-space-v-undo">{{note.user_name}}</h6>
                                  <p class="created-at"><time-ago from-time='{{ note.date }}'></time-ago></p>
                                  <p class="note-text">{{note.text}}</p>
                                </div>
                              </div>
                              <div class="media-object" ng-repeat="note in note.replies">
                                <div class="media-object-section">
                                  <div>
                                    <img class="avatar" ng-if="note.user_img!==null" alt="{{note.user_name}}" ng-src="{{::(note.user_img)}}" width="32" />
                                    <img class="avatar" ng-if="note.user_img===null" alt="{{note.user_name}}" gravatar-src="note.user_email" ng-fallback="images/user-avatar.png" width="32" />
                                  </div>
                                </div>
                                <div class="media-object-section main-section">
                                  <h6 class="u-space-v-undo">{{note.user_name}}</h6>
                                  <p class="created-at"><time-ago from-time='{{ note.date }}'></time-ago></p>
                                  <p class="note-text">{{note.text}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="notes-modal__footer">
                            <div class="notes-modal__txt-box-container">
                              <textarea
                                class="notes-modal__txt-box"
                                placeholder="Type your message"
                                ng-model="notesVm.selectedArtBoard.currentopenedNote.newMessage"></textarea>
                            </div>
                          </div>
                          <div class="notes-modal__footer">
                            <button
                              class="button success notes-modal__button"
                              ng-click="notesVm.selectedArtBoard.addNewReply(note, $index)"
                              ng-disabled="!notesVm.selectedArtBoard.currentopenedNote.newMessage">Reply</button>
                          </div>
                        </div>
                      </div>
                    </pane>
                  </dropdown-toggle>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="columns large-2 right-sidebar" ng-hide="rightSideBarIsHidden">
        <aside class="sidebar">
          <div class="sidebar__head">
            <div class="sidebar__title">Notes <a ng-click="notesVm.selectedArtBoard.createNote($event)" class="add-new"></a></div>
            <button
              class="sidebar__collapse-button -right"
              ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
              <svg><use xlink:href="#shape-bar-close-right" /></svg>
            </button>
          </div>
          <div class="sidebar__body">
            <div class="scroller">
              <div class="notes-sidebar">
                <p class="text-cener" ng-if="!notesVm.notes.length">No notes in this screen</p>
                <accordion close-others="true">
                  <accordion-group ng-repeat="note in notesVm.notes" is-open="$index === 0">
                    <accordion-heading>
                      <p class="note-title">Note {{$index + 1}} <a href="#" tooltip-placement="left" tooltip="Resolve">Resolve</a></p>
                    </accordion-heading>
                    <div class="media-object">
                      <div class="media-object-section">
                        <div>
                          <img class="avatar" ng-if="note.user_img!==null" alt="{{note.user_name}}" ng-src="{{::(note.user_img)}}" width="32" />
                          <img class="avatar" ng-if="note.user_img===null" alt="{{note.user_name}}" gravatar-src="note.user_email" ng-fallback="images/user-avatar.png" width="32" />
                        </div>
                      </div>
                      <div class="media-object-section main-section">
                        <h6 class="u-space-v-undo">{{note.user_name}}</h6>
                        <p class="created-at"><time-ago from-time='{{ note.date }}'></time-ago></p>
                        <p class="note-text">{{note.text}}</p>
                      </div>
                    </div>
                    <div class="reply-to-note">
                      <p ng-hide="notesVm.selectedArtBoard.currentopenedNote.index === $index"><a ng-click="notesVm.selectedArtBoard.openNote(note, $index)">Reply</a></p>
                      <div ng-show="notesVm.selectedArtBoard.currentopenedNote.index === $index">
                        <textarea class="new-reply-box" placeholder="Type your message" ng-model="notesVm.selectedArtBoard.currentopenedNote.newMessage"></textarea>
                        <button
                          class="button success"
                          ng-click="notesVm.selectedArtBoard.addNewReply(note, $index)"
                          ng-disabled="!notesVm.selectedArtBoard.currentopenedNote.newMessage">Reply</button>
                      </div>
                    </div>
                  </accordion-group>
                </accordion>
              </div>
            </div>
          </div>
        </aside>
      </div>

      <div class="sidebar__fixed-container" ng-show="rightSideBarIsHidden">
        <aside class="sidebar -closed  -closed-right">
          <div class="sidebar__head">
            <ul class="sidebar__menu menu">
              <li>
                <a></a>
              </li>
            </ul>
            <button
              class="sidebar__collapse-button -left"
              ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
              <svg><use xlink:href="#shape-bar-close-right" /></svg>
            </button>
          </div>
          <div class="sidebar__body"></div>
        </aside>
      </div>

    </div>
  </div>
</div>
