<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="screen canvas">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>
  <div class="screen__row">
    <ng-include src="'app/partials/canvas-header.html'"></ng-include>
  </div>
  <div class="screen__row -rest">
    <div class="row expanded collapse">
      <div class="columns large-2 left-sidebar" ng-hide="leftSideBarIsHidden">
        <aside class="sidebar">
          <div class="sidebar__head">
            <div class="sidebar__title">Screens</div>
            <button
              class="sidebar__collapse-button -left"
              ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
              <i class="sidebar__collapse-arrow ion-arrow-left-b"></i>
              <i class="sidebar__collapse-menu ion-android-menu"></i>
            </button>
          </div>
          <div class="sidebar__body">
            <div class="scroller">
              <ul class="items-spaced">
                <li ng-repeat="artBoard in notesVm.project.artboards">
                  <a ng-click="notesVm.project.selectArtBoard(artBoard)">
                    <img
                      class="thumbnail"
                      ng-class="{'is-active': artBoard.objectID === notesVm.selectedArtBoard.obj.objectID}"
                      ng-src="{{::(artBoard.imageBase64 || artBoard.imagePath)}}">
                    <span class="u-text-small" ng-bind="::artBoard.name"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="sidebar__fixed-container" ng-show="leftSideBarIsHidden">
        <aside class="sidebar -closed">
          <div class="sidebar__head">
            <ul class="sidebar__menu menu">
              <li>
                <a></a>
              </li>
            </ul>
            <button
              class="sidebar__collapse-button -right"
              ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
              <i class="sidebar__collapse-arrow ion-arrow-left-b"></i>
              <i class="sidebar__collapse-menu ion-android-menu"></i>
            </button>
          </div>
          <div class="sidebar__body"></div>
        </aside>
      </div>

      <!-- FIXME: notes-modal__container needs fixing -->
      <div
        class="columns main-content notes-modal__container"
        ng-class="{'large-8': !leftSideBarIsHidden && !rightSideBarIsHidden,
          'large-10': leftSideBarIsHidden || rightSideBarIsHidden,
          'large-12': leftSideBarIsHidden && rightSideBarIsHidden,
          'canvas--padded-left': leftSideBarIsHidden,
          'canvas--padded-right': rightSideBarIsHidden}"
      >
        <div class="nav-widget nav-widget--prev">
          <a href="#"><svg><use xlink:href="#shape-prev" /></svg></a>
        </div>
        <div class="zoom-widget">

          <button
            class="zoom-in"
            ng-disabled="notesVm.project.configs.zoom <= .25"
            ng-click="notesVm.selectedArtBoard.zoomIn()">
          </button>

          <label class="zoom-text" style="margin: 0 5px;">
            {{notesVm.project.configs.zoom * 100}}%
          </label>

          <button
            class="zoom-out"
            ng-click="notesVm.selectedArtBoard.zoomOut()"
            ng-disabled="notesVm.project.configs.zoom >= 2">
          </button>
        </div>
        <div class="nav-widget nav-widget--next">
          <a href="#"><svg><use xlink:href="#shape-next" /></svg></a>
        </div>

        <div
          class="notes-modal__overlay"
          ng-show="notesVm.selectedArtBoard.currentopenedNote.isOpened"
          ng-click="notesVm.selectedArtBoard.closeNote()"></div>
        <div class="notes-modal" ng-show="notesVm.selectedArtBoard.currentopenedNote.isOpened">
          <div class="notes-modal__content">
            <div class="notes-modal__head">
              note {{notesVm.selectedArtBoard.currentopenedNote.index}}
            </div>

            <div class="notes-modal__body">
              <div class="scroller">
                <div class="media-object" ng-repeat="message in notesVm.selectedArtBoard.currentopenedNote.obj.note">
                  <div class="media-object-section">
                    <div>
                      <img class="avatar" ng-src="{{message.userImg}}" width="32">
                    </div>
                  </div>
                  <div class="media-object-section main-section">
                    <h6 class="u-space-v-undo">{{message.userName}}</h6>
                    <div class="u-space-v-small u-text-s">{{message.date}}</div>
                    <p class="u-text-s" style="background-color: #f3f6f8;border-radius: 3px;padding: 10px;">{{message.text}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="notes-modal__footer">
              <div class="notes-modal__txt-box-container">
                <textarea
                  class="notes-modal__txt-box"
                  placeholder="Type your message"
                  ng-model="notesVm.selectedArtBoard.currentopenedNote.newMessage"></textarea>
              </div>
            </div>

            <div class="notes-modal__footer">
              <button
                class="button success notes-modal__button"
                ng-click="notesVm.selectedArtBoard.addNewReply()"
                ng-disabled="!notesVm.selectedArtBoard.currentopenedNote.newMessage">Reply</button>
            </div>
          </div>
        </div>

        <section class="canvas-screen-viewer scroller">
          <div
            class="canvas-screen-viewer-inner"
            ng-style="notesVm.selectedArtBoard.screenParentStyle()">
            <div
              id="screen"
              class="canvas-screen"
              ng-style="notesVm.selectedArtBoard.screenStyle()"
              ng-click="notesVm.selectedArtBoard.createNote($event)">
              <div id="notes">
                <div
                  class="note"
                  ng-repeat="note in notesVm.selectedArtBoard.obj.notes"
                  data-index="{{$index + 1}}"
                  ng-style="notesVm.selectedArtBoard.notesStyle(note)"
                  ng-mouseenter="note.show = true"
                  ng-mouseleave="note.show = false"
                  ng-click="notesVm.selectedArtBoard.openNote(note, $index + 1);$event.stopPropagation()">
                  <div ng-show="note.show">{{note.note[0]}}</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="columns large-2 right-sidebar" ng-hide="rightSideBarIsHidden">
        <aside class="sidebar">
          <div class="sidebar__head">
            <div class="sidebar__title">
              Notes
            </div>
            <button
              class="sidebar__collapse-button -right"
              ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
              <i class="sidebar__collapse-arrow ion-arrow-left-b"></i>
              <i class="sidebar__collapse-menu ion-android-menu"></i>
            </button>
          </div>
          <div class="sidebar__body">
            <div class="scroller">
              <ul class="items-spaced">
                <li class="text-cener" ng-if="!notesVm.selectedArtBoard.obj.notes.length">No notes in this screen</li>
                <li
                  class="o-list--stripped"
                  ng-repeat="note in notesVm.selectedArtBoard.obj.notes"
                  ng-click="notesVm.selectedArtBoard.openNote(note, $index + 1)"
                  ng-class="{'selected' : note.show === true}">
                  note {{$index + 1}}
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="sidebar__fixed-container" ng-show="rightSideBarIsHidden">
        <aside class="sidebar -closed  -closed-right">
          <div class="sidebar__head">
            <ul class="sidebar__menu menu">
              <li>
                <a></a>
              </li>
            </ul>
            <button
              class="sidebar__collapse-button -left"
              ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
              <i class="sidebar__collapse-arrow ion-arrow-left-b"></i>
              <i class="sidebar__collapse-menu ion-android-menu"></i>
            </button>
          </div>
          <div class="sidebar__body"></div>
        </aside>
      </div>

    </div>
  </div>
</div>
