<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="screen canvas">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>
  <div class="container">
    <div class="row">
      <div class="column medium-10 small-centered">
        <div class="activities-list">
          <ul>
            <li>
              <p class="notification-title">Notifications</p>
              <ul>
                <li ng-repeat="activity in notificationsVm.notifications">
                  <div class="activity new-activity" ng-if="activity.type === 0">
                    <p><svg class="icon"><use xlink:href="#shape-new" /></use><span>{{activity.user}}</span> created new project <span>{{activity.what}}</span></p>
                    <p class="time-ago"><svg><use xlink:href="#shape-clock" /></svg><time-ago from-time='{{ activity.created_at }}'></time-ago></p>
                  </div>
                  <div class="activity add-activity" ng-if="activity.type === 1">
                    <p><svg class="icon"><use xlink:href="#shape-comment" /></use><span>{{activity.user}}</span> added <span>{{activity.what}}</span> to screen {{activity.where}}</p>
                    <blockquote>
                      <p>{{activity.message}}</p>
                    </blockquote>
                    <p class="time-ago"><svg><use xlink:href="#shape-clock" /></svg><time-ago from-time='{{ activity.created_at }}'></time-ago></p>
                  </div>
                  <div class="activity forward-activity" ng-if="activity.type === 2">
                    <p><svg class="icon"><use xlink:href="#shape-forward" /></use><span>{{activity.user}}</span> forwarded {{activity.what}} to <span>{{activity.where}}</span></p>
                    <p class="time-ago"><svg><use xlink:href="#shape-clock" /></svg><time-ago from-time='{{ activity.created_at }}'></time-ago></p>
                  </div>
                  <div class="activity delete-activity" ng-if="activity.type === 3">
                    <p><svg class="icon"><use xlink:href="#shape-delete" /></use><span>{{activity.user}}</span> deleted {{activity.what}}</p>
                    <p class="time-ago"><svg><use xlink:href="#shape-clock" /></svg><time-ago from-time='{{ activity.created_at }}'></time-ago></p>
                  </div>
                  <div class="activity resolve-activity" ng-if="activity.type === 4">
                    <p><svg class="icon"><use xlink:href="#shape-resolve" /></use><span>{{activity.user}}</span> resolved note <span>{{activity.what}}</span></p>
                    <p class="time-ago"><svg><use xlink:href="#shape-clock" /></svg><time-ago from-time='{{ activity.created_at }}'></time-ago></p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
