<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="screen canvas">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>
  <div class="container">
    <div class="row">
      <div class="columns small-12" id="toastr-wrapper"></div>
    </div>
    <div class="row artboards-list" ng-show="project.id !== undefined">
      <div class="column medium-3">
        <aside class="project-summary">
          <h1 class="project-summary__title">{{project.name}}</h1>
          <div class="project-summary__status">
            <h2>Status</h2>
            <dropdown-toggle pane-align="left" close-on-click="true" ng-class="statusUpdating === true ? 'disabled' : ''">
              <toggle>
                <button ng-class="project.status === 0 ? 'pick-status status--danger' : (project.status === 1 ? 'pick-status status--warning' : 'pick-status status--success')">{{status[project.status]}}</button>
              </toggle>
              <pane>
                <ul class="dd-menu">
                  <li><a ng-click="updateStatus(0)" class="status-danger">New</a></li>
                  <li><a ng-click="updateStatus(1)" class="status-warning">In Progress</a></li>
                  <li><a ng-click="updateStatus(2)" class="status-success">Approved</a></li>
                </ul>
              </pane>
            </dropdown-toggle>
          </div>
          <div class="project-summary__collaborators">
            <h2>Collaborators</h2>
            <ul>
              <li ng-repeat="user in project.team.users">
              <img ng-if="user.image!==null" tooltip-placement="bottom" tooltip="{{user.name}}" alt="{{user.name}}" ng-src="{{::(user.image)}}" />
              <img ng-if="user.image===null" tooltip-placement="bottom" tooltip="{{user.name}}" alt="{{user.name}}" gravatar-src="user.email" ng-fallback="images/user-avatar.png" />
              </li>
              <li><a ng-click="openModal('app/partials/invite-member.html')" class="add-more"><span>Add more</span></a></li>
            </ul>
          </div>
          <div class="project-summary__tags">
            <h2>Tags</h2>
            <ul>
              <li><a style="color: #faca00" href="#">Development</a></li>
              <li><a style="color: #81c926;" href="#">iOS UI</a></li>
              <li><a href="#" class="add-more"><span>Add more</span></a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="column medium-9">
        <div class="row projects-list" ng-show="project.artboards.length !== 0">
          <div class="column medium-4" ng-repeat="artboard in project.artboards">
            <div class="card">
              <div class="card__header"><a href="/projects/{{project.id}}/{{project.slug}}/{{artboard.id}}/inspect"><span>View</span></a><img ng-src="{{::(artboard.thumbImage || 'images/project-thumb.png')}}" /></div>
              <div class="card__content">
                <div class="card__menu">
                  <dropdown-toggle pane-align="right" close-on-click="true">
                    <toggle>
                      <button><i class="ion-more"></i></button>
                    </toggle>
                    <pane>
                      <ul class="dd-menu">
                        <li><a href="#"><svg><use xlink:href="#shape-duplicate" /></svg> Duplicate</a></li>
                        <li><a ng-click="openModal('app/partials/delete-artboard.html', {id: artboard.id})"><svg><use xlink:href="#shape-trash" /></svg> Delete</a></li>
                        <li class="text-right"><span><i class="ion-more"></i></span></li>
                      </ul>
                    </pane>
                  </dropdown-toggle>
                </div>
                <p class="card__file-name">{{artboard.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-artboards" ng-show="project.artboards.length === 0">
          <div class="columns small-12">
            <p>Upload your designs from Sketch and add them to your project folder.</p>
            <p><a href="#" class="button button--yellow"><svg><use xlink:href="#shape-sketch"></use></svg> Download Sketch Plugin</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row artboards-list" ng-show="project.id === undefined">
      <ng-include src="'app/partials/app-loader.html'"></ng-include>
    </div>
  </div>
</div>
