<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="screen canvas">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>
  <div class="container" ng-show="projectsVm.projects.length > 0">
    <div class="row">
      <div class="columns small-12" id="toastr-wrapper"></div>
    </div>
    <div class="row head-filters">
      <div class="column medium-9">
        <dropdown-toggle pane-align="left" close-on-click="true">
          <toggle>
            <button class="select">{{statusFilterText || 'By Status'}}</button>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li class="title">By Status</li>
              <li><a ng-click="setFilter(undefined, 'status')">All</a></li>
              <li><a ng-click="setFilter(0, 'status')" class="status-danger">New</a></li>
              <li><a ng-click="setFilter(1, 'status')" class="status-warning">In Progress</a></li>
              <li><a ng-click="setFilter(2, 'status')" class="status-success">Approved</a></li>
            </ul>
          </pane>
        </dropdown-toggle>
        <dropdown-toggle pane-align="left" close-on-click="true">
          <toggle>
            <button class="select">{{platformFilterText || 'By Platform'}}</button>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li class="title">By Platform</li>
              <li><a ng-click="setFilter(undefined, 'platform')">All</a></li>
              <li><a ng-click="setFilter('ios', 'platform')">iOS</a></li>
              <li><a ng-click="setFilter('android', 'platform')">Android</a></li>
              <li><a ng-click="setFilter('web', 'platform')">Web</a></li>
            </ul>
          </pane>
        </dropdown-toggle>
        <dropdown-toggle pane-align="left" close-on-click="true">
          <toggle>
            <button class="select">By Assignee</button>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li class="title">By Assignee</li>
              <li><a href="#">John Doe</a></li>
              <li><a href="#">Megan Steve</a></li>
            </ul>
          </pane>
        </dropdown-toggle>
        <dropdown-toggle pane-align="left" close-on-click="true">
          <toggle>
            <button class="select">{{tagFilter || 'By tag'}}</button>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li class="title">By Tag</li>
              <li><a ng-click="setFilter(undefined, 'tag')">All</a></li>
              <li ng-repeat="tag in tags"><a href="#" ng-click="setFilter(tag, 'tag')">{{tag}}</a></li>
            </ul>
          </pane>
        </dropdown-toggle>
      </div>
      <div class="column medium-3 text-right">
        <button class="button button--success" ng-click="openModal('app/partials/new-project.html')">New Project</button>
      </div>
    </div>
    <div class="row projects-list">
      <div class="column medium-3" ng-repeat="project in projectsVm.projects" ng-show="(platformFilter === project.platform || platformFilter === undefined) && (statusFilter === project.status || statusFilter === undefined) && ( tagInProject(tagFilter, project.tags) || tagFilter === undefined)">
        <div class="card">
          <div ng-class="project.thumb === null ? 'no-thumb card__header' : 'card__header'"><a href="/projects/{{project.id}}/{{project.slug}}"><span>View Project</span></a><img ng-src="{{::(project.thumb || 'images/project-thumb.png')}}" alt="{{project.name}}"></div>
          <div class="card__content">
            <div class="card__menu">
              <dropdown-toggle pane-align="right" close-on-click="true">
                <toggle>
                  <button><i class="ion-more"></i></button>
                </toggle>
                <pane>
                  <ul class="dd-menu">
                    <li><a href="#"><svg><use xlink:href="#shape-versions" /></svg> Archive</a></li>
                    <li><a href="#"><svg><use xlink:href="#shape-duplicate" /></svg>Duplicate</a></li>
                    <li><a ng-click="openModal('app/partials/delete-project.html', {id: project.id, name: project.name, slug: project.slug})"><svg><use xlink:href="#shape-trash" /></svg> Delete</a></li>
                    <li class="text-right"><span><i class="ion-more"></i></span></li>
                  </ul>
                </pane>
              </dropdown-toggle>
            </div>
            <div class="card__head-wrapper">
              <p class="card__title status--{{project.status}}">{{project.name}}</p>
              <p class="card__date"><time-ago from-time='{{ project.created_at }}'></time-ago></p>
            </div>
            <p class="card__alert">Due</p>
            <ul class="card__users">
              <li ng-repeat="user in project.team.users">
                <img ng-if="user.image!=='/images/original/missing.png'" alt="{{user.name}}" ng-src="{{::(user.image)}}" />
                <img ng-if="user.image==='/images/original/missing.png'" alt="{{user.name}}" gravatar-src="user.email" ng-fallback="/images/original/missing.png" />
              </li>
            </ul>
            <div class="card__images"><svg><use xlink:href="#shape-images" /></svg> {{project.artboards_count}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" ng-show="projectsVm.projects.length === 0">
    <div class="row">
      <div class="columns medium-12 no-projects">
        <p>You haven’t created any projects yet!</p>
        <button class="button button--success" ng-click="openModal('app/partials/new-project.html')">Create New Project</button>
      </div>
    </div>
  </div>
</div>
