<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="screen canvas">
  <div class="screen__row">
    <header class="c-header">
      <div class="row expanded align-middle">
        <div class="column large-2">
          <a ui-sref="projects" class="u-text-small">Projects</a>
          <a class="u-text-small">Activity</a>
        </div>
        <div class="column large-8">
          <div class="row align-center">
            <a ui-sref="dashboard">
              <img class="c-header__element" src="images/logo2.png">
            </a>
          </div>
        </div>
        <div class="columns large-2 text-right">
          <dropdown-toggle
            class="c-header__element"
            pane-align="right"
            close-on-click="true"
          >
            <toggle>
              <button class="notifier">
                <span class="notifier__detect"></span>
                <i class="ion-android-notifications u-icon-24"></i>
              </button>
            </toggle>
            <pane>
              <ul class="menu vertical">
                <li><a ui-sref="logout"><i class="ion-android-exit"></i> Logout</a></li>
              </ul>
            </pane>
          </dropdown-toggle>
          <dropdown-toggle
            class="c-header__element u-space-h-undo"
            pane-align="right"
            close-on-click="true"
          >
            <toggle>
              <img
                class="avatar"
                src="images/demo/avatar.png"
                width="32"
              >
            </toggle>
            <pane>
              <ul class="menu vertical">
                <li><a href="#"><i class="ion-person"></i> Profile</a></li>
                <li><a href="#"><i class="ion-person-add"></i> Team Members</a></li>
                <li><a href="#"><i class="ion-android-share-alt"></i> Integrations</a></li>
                <li><a href="#"><i class="ion-android-notifications"></i> Notifications</a></li>
                <li><a href="#"><i class="ion-card"></i> Billing</a></li>
                <li><a ui-sref="logout"><i class="ion-android-exit"></i> Logout</a></li>
              </ul>
            </pane>
          </dropdown-toggle>
        </div>
      </div>
    </header>
  </div>
  <div class="create-project">
  </div>
  <div class="container">
    <div class="row head-filters">
      <div class="column medium-8">
        <dropdown-toggle pane-align="left" close-on-click="true">
          <toggle>
            <button class="select">By Status</button>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li class="title">By Status</li>
              <li><a href="#">Published</a></li>
              <li><a href="#">Unpublished</a></li>
              <li><a href="#">Pending</a></li>
            </ul>
          </pane>
        </dropdown-toggle>
        <dropdown-toggle pane-align="left" close-on-click="true">
          <toggle>
            <button class="select">By Platform</button>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li class="title">By Platform</li>
              <li><a href="#">iOS</a></li>
              <li><a href="#">Android</a></li>
              <li><a href="#">Web</a></li>
            </ul>
          </pane>
        </dropdown-toggle>
        <dropdown-toggle pane-align="left" close-on-click="true">
          <toggle>
            <button class="select">By Assignee</button>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li class="title">By Assignee</li>
              <li><a href="#">John Doe</a></li>
              <li><a href="#">Megan Steve</a></li>
            </ul>
          </pane>
        </dropdown-toggle>
      </div>
      <div class="column medium-4 text-right">
        <button class="button button--success" ng-click="openModal('app/partials/new-project.html')">New Project</button>
      </div>
    </div>
    <div class="row projects-list">
      <div class="column medium-3" ng-repeat="project in projectsVm.projects">
        <div class="card">
          <div ng-class="project.thumb === null ? 'no-thumb card__header' : 'card__header'"><a href="/projects/{{project.id}}/{{project.slug}}"><span>View Project</span></a><img ng-src="{{::(project.thumb || 'images/project-thumb.png')}}" alt="{{project.name}}"></div>
          <div class="card__content">
            <div class="card__menu">
              <dropdown-toggle pane-align="right" close-on-click="true">
                <toggle>
                  <button><i class="ion-more"></i></button>
                </toggle>
                <pane>
                  <ul class="dd-menu">
                    <li><a href="#"><i class="ion-ios-filing-outline"></i>Archive</a></li>
                    <li><a href="#"><i class="ion-ios-copy-outline"></i>Duplicate</a></li>
                    <li><a ng-click="openModal('app/partials/delete-project.html', {id: project.id, name: project.name})"><i class="ion-ios-trash-outline"></i> Delete</a></li>
                    <li class="text-right"><span><i class="ion-more"></i></span></li>
                  </ul>
                </pane>
              </dropdown-toggle>
            </div>
            <p class="card__title status--pending">{{project.name}}</p>
            <p class="card__date"><time-ago from-time='{{ project.created_at }}'></time-ago></p>
            <p class="card__alert">Due</p>
            <ul class="card__users">
              <li ng-repeat="user in project.team.users"><img alt="{{user.name}}" ng-src="{{::(user.image || 'images/user-avatar.png')}}" /></li>
            </ul>
            <div class="card__images"><svg><use xlink:href="#shape-images" /></svg> {{project.artboards_count}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
