<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="sign sign--two-halfs">
  <div class="row expanded">
    <div class="columns large-6 align-center text-center">
      <div class="content-wrapper">
        <h3>Welcome to Draft App</h3>
        <p class="u-text-small">Start collaborating by creating an account.</p>
        <p><img src="images/registration-1.svg" alt=""></p>
        <p>Already have an account? <a class="link link--underline" ui-sref="login">Login?</a></p>
      </div>
    </div>
    <div class="columns large-6 medium">
      <div class="content-wrapper">
        <img class="full-logo" src="images/draft-logo.svg" alt="Draft">
        <form ng-submit="registerVM.submit()" class="text-left">
          <fieldset ng-disabled="registerVM.loading">
            <label>Full Name</label>
            <div class="row">
              <div class="columns large-6">
                <div class="form-group u-space-v-large">
                  <input autofocus type="text" placeholder="First name" ng-model="registerVM.form.firstName" required ng-class="{'is-invalid-input': registerVM.errors.firstname[0]}">
                  <span class="form-error" ng-class="{'is-visible': registerVM.errors.firstname[0]}" >Name {{registerVM.errors.firstname[0]}}</span>
                </div>
              </div>
              <div class="columns large-6">
                  <input type="text" placeholder="Last name" ng-model="registerVM.form.lastname" required ng-class="{'is-invalid-input': registerVM.errors.lastname[0]}">
                  <span class="form-error" ng-class="{'is-visible': registerVM.errors.lastname[0]}" >Name {{registerVM.errors.lastname[0]}}</span>
              </div>
            </div>
            <div class="form-group u-space-v-large">
              <label for="email">Email Address</label>
              <input type="email" id="email" placeholder="Your Email" ng-model="registerVM.form.email" required ng-class="{'is-invalid-input': registerVM.errors.email[0]}">
              <span class="form-error" ng-class="{'is-visible': registerVM.errors.email[0]}">Email {{registerVM.errors.email[0]}}</span>
            </div>
            <div class="form-group u-space-v-large">
              <label for="password">Password</label>
              <input type="{{passwordField}}" id="password" placeholder="Create Password" ng-model="registerVM.form.password" required ng-class="{'is-invalid-input': registerVM.errors.password[0]}">
              <a class="show-password" ng-mousedown="passwordField = 'text'" ng-mouseup="passwordField = 'password'">
                <svg><use xlink:href="#shape-eye" /></svg>
              </a>
              <span class="form-error" ng-class="{'is-visible': registerVM.errors.password[0]}">Password {{registerVM.errors.password[0]}}</span>
            </div>

            <p class="terms text-center">By signing up you are agreeing to Draft's <a class="link link--underline" ui-sref="terms">Terms of Use</a> and we will add you to our mailing list.</p>

            <button type="submit" class="button expanded success" ng-disabled="registerVM.loading">Get Started</button>

            <div class="c-seperator text-center"><span class="c-seperator__text">Or</span></div>

            <div class="row social-login">
              <div class="columns medium-6">
                <button type="button" class="button expanded primary" ng-click="" ng-disabled="loginVM.loading"><svg><use xlink:href="#shape-dropbox" /></svg></button>
              </div>
              <div class="columns medium-6">
                <button type="button" class="button expanded button--grey" ng-click="registerVM.github()" ng-disabled="loginVM.loading"><svg><use xlink:href="#shape-github" /></svg></button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
