<ng-include class="svg-icons" src="'images/svg-defs.svg'"></ng-include>
<div class="screen canvas settings">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>
  <div class="screen__row">
    <div class="row">
      <div class="columns small-12 canvas-screen-viewer" id="toastr-wrapper"></div>
    </div>
  </div>
  <div class="screen__row">
    <div class="row">
      <div class="column large-12 page-head">
        <h2 class="screen__title">Settings</h2>
      </div>
    </div>
  </div>
  <div class="screen__row">
    <div class="row">
      <div class="column large-3">
        <ul class="menu vertical settings__side-menu">
          <li ng-class="{ active: tab === 'profile' }"><a href="/settings/profile"><i class="ion-person"></i> Profile</a></li>
          <li ng-class="{ active: tab === 'team' }"><a href="/settings/team"><i class="ion-person-add"></i> Team Members</a></li>
          <li ng-class="{ active: tab === 'integrations' }"><a href="/settings/integrations"><i class="ion-android-share-alt"></i> Integrations</a></li>
          <li ng-class="{ active: tab === 'notifications' }"><a href="/settings/notifications"><i class="ion-android-notifications"></i> Notifications</a></li>
        </ul>
      </div>
      <div class="column large-9 settings__partial">
        <ng-include src="'app/partials/settings/profile.html'" ng-if="tab === 'profile'"></ng-include>
        <ng-include src="'app/partials/settings/team.html'" ng-if="tab === 'team'"></ng-include>
        <ng-include src="'app/partials/settings/integrations.html'" ng-if="tab === 'integrations'"></ng-include>
        <ng-include src="'app/partials/settings/notifications.html'" ng-if="tab === 'notifications'"></ng-include>
      </div>
    </div>
  </div>
</div>
