<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="screen canvas">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>
  <div class="screen__row">
    <ng-include src="'app/partials/canvas-header.html'"></ng-include>
  </div>
  <div class="screen__row -rest">
    <div class="row expanded collapse">
      <div
        class="columns main-content"
        ng-class="{'large-10': !rightSideBarIsHidden,
          'large-12': rightSideBarIsHidden,
          'canvas--padded-right': rightSideBarIsHidden}"
      >
        <div ng-show="styleguideVm.project === undefined">
          <ng-include src="'app/partials/app-loader.html'"></ng-include>
        </div>
        <section class="canvas-screen-viewer scroller">
          <div ng-hide="styleguideVm.project === undefined" class="style-guide-wrapper">
            <h1 class="category-title">Colour Palette</h1>
            <div class="row">
              <div ng-repeat="color in styleguideVm.project.styleguide.colors" class="columns small-3">
                <div class="style-guide-color-block" style="background-color: {{color.color.cssRgba}}"></div>
                <dl class="color-details">
                  <dt>HEX</dt>
                  <dd>{{color.color.colorHex}}</dd>
                  <dt>RGB</dt>
                  <dd>({{color.color.r}}, {{color.color.g}}, {{color.color.b}})</dd>
                  <dt>CSS</dt>
                  <dd>{{color.name}}</dd>
                </dl>
              </div>
            </div>
          </div>
          <hr>
          <div ng-hide="styleguideVm.project === undefined" class="style-guide-wrapper">
            <h1>Fonts</h1>
            <div class="row">
              <div class="columns small-4" ng-repeat="font in styleguideVm.project.fonts">
                <!-- <h2>Headline 1</h2>
                <h3>About Us</h3> -->
                <p>{{font.fontFace}}</p>
                <dl class="font-details">
                  <dt>font size</dt>
                  <dd>{{font.fontSize}}PX</dd>
                  <dt>Line-height</dt>
                  <dd>{{font.lineHeight}}PX</dd>
                </dl>
                <!-- <div class="row">
                  <div class="columns small-6">
                    <div class="color-preview"><span></span>#393c3e</div>
                  </div>
                  <div class="columns small-6">
                    <div class="color-preview"><span></span>#393c3e</div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="columns large-4 right-sidebar" ng-hide="rightSideBarIsHidden">
        <aside class="sidebar">
          <div class="sidebar__head">
            <div class="sidebar__menu sidebar__menu--right sidebar__menu--items-4 menu">
              <div class="select-wrapper">
                <select name="" id="">
                  <option value="">CSS</option>
                  <option value="">Objective C</option>
                </select>
              </div>
              <a download="code.txt" href="data:text/plain;charset=utf-8,{{currentArtboard.style}}" class="download-code"><svg><use xlink:href="#shape-download" /></svg></a>
            </div>
            <button
              class="sidebar__collapse-button -right"
              ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
              <svg><use xlink:href="#shape-bar-close-right" /></svg>
            </button>
          </div>
          <div class="sidebar__body">
            <div class="scroller">
              <div hljs hljs-interpolate="true" hljs-language="css">
{{currentArtboard.style}}
              </div>
            </div>
          </div>
        </aside>
      </div>

      <div class="sidebar__fixed-container" ng-show="rightSideBarIsHidden">
        <aside class="sidebar -closed  -closed-right">
          <div class="sidebar__head">
            <ul class="sidebar__menu menu">
              <li>
                <a></a>
              </li>
            </ul>
            <button
              class="sidebar__collapse-button -left"
              ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
              <svg><use xlink:href="#shape-bar-close-right" /></svg>
            </button>
          </div>
          <div class="sidebar__body">
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
