<div class="svg-icons"><ng-include src="'images/svg-defs.svg'"></ng-include></div>
<div class="screen canvas">
  <div class="screen__row">
    <ng-include src="'app/partials/app-header.html'"></ng-include>
  </div>
  <div class="screen__row">
    <ng-include src="'app/partials/canvas-header.html'"></ng-include>
  </div>
  <tabset class="screen__row--tabs">
    <tab heading="Design" active="tab.active">
      <div class="screen__row -rest">
        <div class="row expanded collapse">
          <div class="columns large-2 left-sidebar" ng-hide="leftSideBarIsHidden">
            <aside class="sidebar">
              <div class="sidebar__head">
                <div class="sidebar__title">Screens</div>
                <button
                  class="sidebar__collapse-button -left"
                  ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
                  <svg><use xlink:href="#shape-bar-close-left" /></svg>
                </button>
              </div>
              <div class="sidebar__body">
                <div class="scroller">
                  <ul class="items-spaced">
                    <li ng-repeat="version in versionsVm.project.artboards">
                      <a ng-click="versionsVm.project.selectVersion(version)">
                        <img
                          class="thumbnail"
                          ng-class="{'is-active': version.id === versionsVm.selectedVersion.obj.id}"
                          ng-src="{{::(version.imageBase64 || version.thumbImage)}}">
                        <span class="u-text-small" ng-bind="::version.name"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </aside>
          </div>

          <div class="sidebar__fixed-container" ng-show="leftSideBarIsHidden">
            <aside class="sidebar -closed">
              <div class="sidebar__head">
                <ul class="sidebar__menu menu">
                  <li>
                    <a></a>
                  </li>
                </ul>
                <button
                  class="sidebar__collapse-button -right"
                  ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
                  <svg><use xlink:href="#shape-bar-close-left" /></svg>
                </button>
              </div>
              <div class="sidebar__body"></div>
            </aside>
          </div>

          <div
            class="columns main-content notes-modal__container"
            ng-class="{'large-8': !leftSideBarIsHidden && !rightSideBarIsHidden,
              'large-10': leftSideBarIsHidden || rightSideBarIsHidden,
              'large-12': leftSideBarIsHidden && rightSideBarIsHidden,
              'canvas--padded-left': leftSideBarIsHidden,
              'canvas--padded-right': rightSideBarIsHidden}"
          >
            <div class="nav-widget nav-widget--prev">
              <a href="#"><svg><use xlink:href="#shape-prev" /></svg></a>
            </div>
            <div class="zoom-widget">

              <button
                class="zoom-in"
                ng-disabled="versionsVm.project.configs.zoom <= .25"
                ng-click="versionsVm.selectedVersion.zoomIn()">
              </button>

              <label class="zoom-text" style="margin: 0 5px;">
                {{versionsVm.project.configs.zoom * 100}}%
              </label>

              <button
                class="zoom-out"
                ng-click="versionsVm.selectedVersion.zoomOut()"
                ng-disabled="versionsVm.project.configs.zoom >= 2">
              </button>
            </div>
            <div class="nav-widget nav-widget--next">
              <a href="#"><svg><use xlink:href="#shape-next" /></svg></a>
            </div>

          <section class="canvas-screen-viewer scroller">
            <div
              class="canvas-screen-viewer-inner"
              ng-style="versionsVm.selectedVersion.screenParentStyle()">
              <div
                id="screen"
                class="canvas-screen"
                ng-style="versionsVm.selectedVersion.screenStyle()"
                >
              </div>
            </div>
          </section>
          </div>

          <div class="columns large-2 right-sidebar" ng-hide="rightSideBarIsHidden">
            <aside class="sidebar inspector">
              <div class="sidebar__head">
                <div class="sidebar__title">
                  Details
                </div>
                <button
                  class="sidebar__collapse-button -right"
                  ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
                  <svg><use xlink:href="#shape-bar-close-right" /></svg>
                </button>
              </div>
              <div class="sidebar__body">
                <div class="scroller">
                  <div class="context">
                    <h3 class="plain">Product_Screen</h3>
                    <dl class="params-list">
                      <dt>Created:</dt>
                      <dd>09 Jan 2016 10:32AM</dd>
                      <dt>Updated:</dt>
                      <dd>19 Jan 2016 9:43PM</dd>
                      <dt>Creator:</dt>
                      <dd>Carlos De Silva</dd>
                    </dl>
                  </div>
                  <div class="context">
                    <h4 class="plain">Privacy</h4>
                    <dropdown-toggle class="privacy-dropdown" pane-align="left" close-on-click="true">
                      <toggle>
                        <button class="dropdown-toggler">Public</button>
                      </toggle>
                      <pane>
                        <ul class="dd-menu">
                          <li><a href="#">Public</a></li>
                          <li><a href="#">Private</a></li>
                        </ul>
                      </pane>
                    </dropdown-toggle>
                    <h4 class="plain">Collaborators</h4>
                    <ul class="u-list-inline">
                      <li><a href="#" class="add-more"><span>Add more</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </aside>
          </div>
          <div class="sidebar__fixed-container" ng-show="rightSideBarIsHidden">
            <aside class="sidebar -closed  -closed-right">
              <div class="sidebar__head">
                <ul class="sidebar__menu menu">
                  <li>
                    <a></a>
                  </li>
                </ul>
                <button
                  class="sidebar__collapse-button -left"
                  ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
                  <svg><use xlink:href="#shape-bar-close-right" /></svg>
                </button>
              </div>
              <div class="sidebar__body"></div>
            </aside>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Code" select="drawLineNumbers()">
      <div class="screen__row -rest">
        <div class="row expanded collapse">
          <div class="columns large-2 left-sidebar" ng-hide="leftSideBarIsHidden">
            <aside class="sidebar">
              <div class="sidebar__head">
                <div class="sidebar__title">Screens</div>
                <button
                  class="sidebar__collapse-button -left"
                  ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
                  <svg><use xlink:href="#shape-bar-close-left" /></svg>
                </button>
              </div>
              <div class="sidebar__body">
                <div class="scroller">
                  <ul class="items-spaced">
                    <li ng-repeat="version in versionsVm.project.artboards">
                      <a ng-click="versionsVm.project.selectVersion(version)">
                        <img
                          class="thumbnail"
                          ng-class="{'is-active': version.id === versionsVm.selectedVersion.obj.id}"
                          ng-src="{{::(version.imageBase64 || version.thumbImage)}}">
                        <span class="u-text-small" ng-bind="::version.name"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </aside>
          </div>

          <div class="sidebar__fixed-container" ng-show="leftSideBarIsHidden">
            <aside class="sidebar -closed">
              <div class="sidebar__head">
                <ul class="sidebar__menu menu">
                  <li>
                    <a></a>
                  </li>
                </ul>
                <button
                  class="sidebar__collapse-button -right"
                  ng-click="leftSideBarIsHidden = !leftSideBarIsHidden">
                  <svg><use xlink:href="#shape-bar-close-left" /></svg>
                </button>
              </div>
              <div class="sidebar__body"></div>
            </aside>
          </div>

          <div
            class="columns main-content notes-modal__container"
            ng-class="{'large-8': !leftSideBarIsHidden && !rightSideBarIsHidden,
              'large-10': leftSideBarIsHidden || rightSideBarIsHidden,
              'large-12': leftSideBarIsHidden && rightSideBarIsHidden,
              'canvas--padded-left': leftSideBarIsHidden,
              'canvas--padded-right': rightSideBarIsHidden}"
          >

            <section class="canvas-screen-viewer scroller">
              <div hljs class="code-block">
<p>Lorem ipsum Incididunt elit laborum mollit amet magna laborum et in.</p>
<ul id="listing">
  <li><a href="#">Start now</a></li>
  <li><a href="#">Generatae Token</a></li>
</ul>
              </div>
            </section>
          </div>

          <div class="columns large-2 right-sidebar" ng-hide="rightSideBarIsHidden">
            <aside class="sidebar inspector">
              <div class="sidebar__head">
                <div class="sidebar__title">
                  Details
                </div>
                <button
                  class="sidebar__collapse-button -right"
                  ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
                  <svg><use xlink:href="#shape-bar-close-right" /></svg>
                </button>
              </div>
              <div class="sidebar__body">
                <div class="scroller">
                  <div class="context">
                    <h3 class="plain">Product_Screen</h3>
                    <dl class="params-list">
                      <dt>Created:</dt>
                      <dd>09 Jan 2016 10:32AM</dd>
                      <dt>Updated:</dt>
                      <dd>19 Jan 2016 9:43PM</dd>
                      <dt>Creator:</dt>
                      <dd>Carlos De Silva</dd>
                    </dl>
                  </div>
                  <div class="context">
                    <h4 class="plain">Privacy</h4>
                    <dropdown-toggle pane-align="left" close-on-click="true">
                      <toggle>
                        <button class="dropdown-toggler">Public</button>
                      </toggle>
                      <pane>
                        <ul class="dd-menu">
                          <li><a href="#">Public</a></li>
                          <li><a href="#">Private</a></li>
                        </ul>
                      </pane>
                    </dropdown-toggle>
                    <h4 class="plain">Collaborators</h4>
                    <ul class="u-list-inline">
                      <li><a href="#" class="add-more"><span>Add more</span></a></li>
                    </ul>
                  </div>
                  <div class="context">
                    <a class="export-button" href="#">Export</a>
                  </div>
                </div>
              </div>
            </aside>
          </div>
          <div class="sidebar__fixed-container" ng-show="rightSideBarIsHidden">
            <aside class="sidebar -closed  -closed-right">
              <div class="sidebar__head">
                <ul class="sidebar__menu menu">
                  <li>
                    <a></a>
                  </li>
                </ul>
                <button
                  class="sidebar__collapse-button -left"
                  ng-click="rightSideBarIsHidden = !rightSideBarIsHidden">
                  <svg><use xlink:href="#shape-bar-close-right" /></svg>
                </button>
              </div>
              <div class="sidebar__body"></div>
            </aside>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
