.u-padding {
  padding: $global-margin;
}

.u-padding-large {
  padding: $global-margin * 2;
}

.u-padding-xlarge {
  padding: $global-margin * 3;
}

.u-padding-small {
  padding: $global-margin / 2;
}

.u-no-padding {
  padding: 0;
}
