$margins: (
  undo: 0,
  small: $global-margin / 2,
  default: $global-margin,
  large: $global-margin * 2,
  xlarge: $global-margin * 3,
  xxlarge: $global-margin * 6,
);


// #SPACE-V
@mixin space-v($name) {
  .u-space-v#{if($name != 'default', '-' + $name, '')} {
    margin-bottom: map-get($margins, $name);
  }
}


// #SPACE-H
@mixin space-h($name) {
  .u-space-h#{if($name != 'default', '-' + $name, '')} {
    margin-right: map-get($margins, $name);
  }
}

// Loop over $margins to produce both
@each $name, $size in $margins {
  @include space-h($name);
  @include space-v($name);
}
