<footer class="c-footer u-padding-large">
  <div class="row align-center">
    <div class="column large-11">
      <div class="row collapse">
        <div class="columns large-7">
          <ul class="o-list--unstyled o-list--inline">
            <li class="u-space-h-large">
              <a ui-sref="features">Features</a>
            </li>
            <li class="u-space-h">
              <a ui-sref="contact">Contact Us</a>
            </li>
          </ul>
        </div>

        <div class="column large-5">
          <div class="row align-right">
            <div class="column large-8">
              <p class="c-footer__head u-space-v-small">Built with <span class="love">❤</span> by Designers and Developers </p>
            </div>
          </div>
        </div>

        <div class="column large-12">
          <div class="c-footer__separator c-seperator"></div>
        </div>
      </div>

      <div class="row collapse align-middle u-text-s">
        <div class="column large-5">
          © 2016 Draft. All rights reserved.
        </div>

        <div class="column large-7 text-right">
          <ul class="o-list--unstyled o-list--inline">
            <li class="u-space-h-large">
              <a href>Privacy Policy</a>
            </li>
            <li class="u-space-h">
              <a href>Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
