<section class="c-section--light u-padding-xlarge">
  <div class="row align-center text-center">
    <div class="column large-7 u-space-v-large">
      <h5 class="c-section--light__head">Join to get early access to Draft Private Beta.</h5>
    </div>

    <div class="column large-8">
      <div class="c-input-group">
        <form action="" class="join">
          <div class="row">
            <div class="column medium-4">
              <input class="c-input-group__field" type="text" name="name" value="" placeholder="Full Name">
            </div>
            <div class="column medium-4">
              <input class="c-input-group__field" type="email" name="email" value="" placeholder="Email address">
            </div>
            <div class="column medium-4">
              <button class="button small info c-input-group__button">Join our Private Beta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
