$brand-default: #1f8ceb;
$brand-primary: #00aeef;
$brand-success: #00e093;
$brand-warning: #f0ad4e;
$brand-danger: #ff0000;
$brand-info: #5bc0de;

$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$headings-font-weight: 600;

$border-radius-small: 2px;
$border-radius-base: 3px;
$border-radius-large: 4px;
