$silver: #f3f6f8;
$silver-light: lighten($silver, 2%);
$silver-dark: darken($silver, 3%);

$silver2: #e4e7ef;

$grey: #a1a6bb;
$grey-light: #b9bed1;
$grey-dark: #aaa;

$white: #fff;
$black: #3a405b;

$light-gray: #e4e7ef;
$medium-gray: #b9bed1;
$gray: #f0f2f7;
$dark-gray: #a1a6bb;

$primary: #4f8ff7;
$secondary: $medium-gray;
$success: #4be1ab;
$warning: #6aaab4;
$alert: #fe5339;
$dark: #3a4058;
$magenta: #40364d;

$font-family-sans: 'Poppins', Helvetica, Arial, sans-serif;
