$white: #fff;

$silver: #f3f6f8;
$silver-light: lighten($silver, 2%);
$silver-dark: darken($silver, 3%);

$grey: #b6b4Ca;
$grey-light: #b9bed1;
$grey-dark: #aaa;

$black: #333;

$primary: #1f8ceb;
$success: #00e093;
$warning: #f0ad4e;
$alert: #f00;
$info: #5bc0de;

$font-family-sans: 'Open Sans', Helvetica, Arial, sans-serif;
