input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $silver inset !important;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: middle;

  + label {
    vertical-align: middle;
    margin-left: 0;
    margin-bottom: $form-spacing;
  }
}

#{text-inputs()},
textarea {
  padding: 0.7em;
}

#{text-inputs()} {
  height: 2.9rem;
}
