.row {
  &.is-collapse-child {
    margin-left: 0;
    margin-right: 0;
  }
}
.column {
  &.bordered {
    border-right: 1px solid currentColor;
  }
}
.small-centered {
  margin-left: auto;
  margin-right: auto;
}
